﻿@{
    ViewBag.Title = "Dashboard";
    ViewBag.Description = "Home Page";
}
@*<link href='http://pics.cssbakery.com/pics/css/verticalbargraph.css' rel='stylesheet' type='text/css' />*@
<link href="~/Content/css/verticalbargraph.css" rel="stylesheet" />

<style>
    .fix-height{
            height: 287px;
    }
    .month li{
       color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 11px;
    width: 51px;
    float: left;
    text-align: center;
    overflow: hidden;
    font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.6em
    }
    .chart1{
        left: 20px;
    }
     .chart2{
        left: 70px;
    }
      .chart3{
        left: 120px;
    }
       .chart4{
        left: 170px;
    }
        .chart5{
        left: 220px;
    }
         .chart6{
        left: 270px;
    }
          .chart7{
        left: 320px;
    }
           .chart8{
        left: 370px;
    }
            .chart9{
        left: 420px;
    }
             .chart10{
        left: 470px;
    }
              .chart11{
        left: 520px;
    }
               .chart12{
        left: 570px;
    }
</style>

<section class="content" ng-controller="DashboardController" ng-init="init()">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-shopping-cart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Order Recieved</span>
                    <span class="info-box-number">450</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-shopping-cart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Running Order</span>
                    <span class="info-box-number">230</span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-rupee"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Earning</span>
                    <span class="info-box-number"><i class="fa fa-rupee" style="font-size:16px"></i> 251000</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-bar-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Order Status</span>
                    <span class="info-box-number"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-warning direct-chat direct-chat-warning fix-height">
                        <div class="box-header with-border" style="background-color:lightgoldenrodyellow;">
                            <h3 class="box-title">CARPENTARY</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">{{carpenteryCount}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>Order#</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                </tr>
                                <tr ng-repeat="order in totalCarpentaryList | limitTo : 5" ng-if="totalCarpentaryList.length > 0">
                                    <td>{{order.Id}}</td>
                                    <td>{{order.CustomerName}}</td>
                                    <td><i class="fa fa-rupee" style="font-size:12px"> </i> 2000</td>
                                </tr>
                                <tr ng-if="totalCarpentaryList.length == 0" style="text-align:center">
                                    <td colspan="3">No data available</td>
                                </tr>
                                
                            </table>
                            <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingCar"></i>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-danger direct-chat direct-chat-warning">
                        <div class="box-header with-border" style="background-color:papayawhip">
                            <h3 class="box-title">LINING</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">{{liningCount}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>Order#</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                </tr>
                                <tr ng-repeat="order in totalLiningList | limitTo : 5" ng-if="totalLiningList.length > 0">
                                    <td>{{order.Id}}</td>
                                    <td>{{order.CustomerName}}</td>
                                    <td><i class="fa fa-rupee" style="font-size:12px"> </i> 2000</td>
                                </tr>
                                <tr ng-if="totalLiningList.length == 0" style="text-align:center">
                                    <td colspan="3">No data available</td>
                                </tr>
                            </table>
                            <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingLin"></i>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary direct-chat direct-chat-primary">
                        <div class="box-header with-border" style="background-color:powderblue">
                            <h3 class="box-title">FITTING</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">{{fittingCount}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>Order#</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                </tr>
                                <tr ng-repeat="order in totalFittingList | limitTo : 5" ng-if="totalFittingList.length >0">
                                    <td>{{order.Id}}</td>
                                    <td>{{order.CustomerName}}</td>
                                    <td><i class="fa fa-rupee" style="font-size:12px"> </i> 3210</td>
                                </tr>
                                <tr ng-if="totalFittingList.length == 0" style="text-align:center">
                                    <td colspan="3">No data available</td>
                                </tr>
                            </table>
                            <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingFit"></i>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-success direct-chat direct-chat-success">
                        <div class="box-header with-border" style="background-color:khaki">
                            <h3 class="box-title">DELIVERY</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">{{deliveryCount}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>Order#</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                </tr>
                                <tr ng-repeat="order in totalDeliveryList | limitTo : 5" ng-if="totalDeliveryList.length > 0">
                                    <td>{{order.Id}}</td>
                                    <td>{{order.CustomerName}}</td>
                                    <td><i class="fa fa-rupee" style="font-size:12px"> </i> 65,412</td>
                                </tr>
                                <tr ng-if="totalDeliveryList.length == 0" style="text-align:center">
                                    <td colspan="3">No data available</td>
                                </tr>
                            </table>
                            <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingDel"></i>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-danger direct-chat direct-chat-danger">
                        <div class="box-header with-border" style="background-color:lightgrey">
                            <h3 class="box-title">INVOICE</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">{{invoiceCount}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>Order#</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                </tr>
                                <tr ng-repeat="order in totalInvoiceList | limitTo : 5" ng-if="totalInvoiceList.length > 0">
                                    <td>{{order.Id}}</td>
                                    <td>{{order.CustomerName}}</td>
                                    <td><i class="fa fa-rupee" style="font-size:12px"> </i> 50,000</td>
                                </tr>
                                <tr ng-if="totalInvoiceList.length == 0" style="text-align:center">
                                    <td colspan="3">No data available</td>
                                </tr>
                            </table>
                            <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingInv"></i>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-warning direct-chat direct-chat-warning fix-height">
                        <div class="box-header with-border" style="background-color:linen">
                            <h3 class="box-title">ALL ORDERS</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">{{orderCount}}</span>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tr>
                                    <th>Order#</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                </tr>
                                <tr ng-repeat="order in totalOrderList | limitTo : 5" ng-if="totalOrderList.length >0">
                                    <td>{{order.id}}</td>
                                    <td>{{order.customer_name}}</td>
                                    <td><i class="fa fa-rupee" style="font-size:12px"> </i> 2000</td>
                                </tr>
                                <tr ng-if="totalOrderList.length == 0" style="text-align:center">
                                    <td colspan="3">No data available</td>
                                </tr>
                            </table>
                            <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingOrd"></i>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger direct-chat direct-chat-danger">
                        <div class="box-header with-border" style="background-color:#00c0ef">
                            <h3 class="box-title">COMPLAINTS (Month wise)</h3>
                            @*<div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="" class="badge bg-yellow" style="font-size:18px;">20</span>
                            </div>*@
                            </div>
                            <div class="box-body">
                                <div class="bargraph">
                                    <ul class="bars">
                                        <li class="chart1 purplebar" style="height: 100px;">50</li>
                                        <li class="chart2 redbar" style="height: 170px;">90</li>
                                        <li class="chart3 bluebar" style="height: 70px;">35</li>
                                        <li class="chart4 greenbar" style="height: 30px;">7</li>
                                        <li class="chart5 orangebar" style="height: 130px;">80</li>
                                        <li class="chart6 purplebar" style="height: 100px;">50</li>
                                        <li class="chart7 redbar" style="height: 60px;">30</li>
                                        <li class="chart8 bluebar" style="height: 160px;">85</li>
                                        <li class="chart9 greenbar" style="height: 120px;">75</li>
                                        <li class="chart10 orangebar" style="height: 70px;">35</li>
                                        <li class="chart11 purplebar" style="height: 170px;">90</li>
                                        <li class="chart12 redbar" style="height: 100px;">50</li>

                                    </ul>
                                    <ul class="label"><li>JAN</li><li>FEB</li><li>MAR</li><li>APR</li><li>MAY</li><li>JUN</li><li>JUL</li><li>AUG</li><li>SEP</li><li>OCT</li><li>NOV</li><li>DEC</li></ul>
                                    <ul class="y-axis"><li>88</li><li>80</li><li>72</li><li>64</li><li>56</li><li>48</li><li>40</li><li>32</li><li>24</li><li>16</li><li>8</li><li>0</li></ul>
                                    <p class="centered">Total complaint month wise</p>
                                </div>
                            </div>
                          
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-warning direct-chat direct-chat-warning fix-height">
                <div class="box-header with-border" style="background-color:#00a65a;color:white;">
                    <h3 class="box-title">LEADER BOARD</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th>Operator Name</th>
                            <th>Orders</th>
                        </tr>
                        <tr ng-repeat="order in leaderBoardList | limitTo : 5" ng-if="leaderBoardList.length > 0">
                            <td>{{order.SalesBy}}</td>
                            <td>{{order.TotalLeaderOrder}}</td>
                        </tr>
                        <tr ng-if="leaderBoardList.length == 0" style="text-align:center">
                            <td colspan="2">No data available</td>
                        </tr>
                    </table>
                    <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingLea"></i>
                </div>
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">

                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-warning direct-chat direct-chat-warning fix-height">
                <div class="box-header with-border" style="background-color:#00a65a;color:white;">
                    <h3 class="box-title">HIGHEST CUSTOMER ORDERS</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th>Customer Name</th>
                            <th>Orders</th>
                        </tr>
                        <tr ng-repeat="order in highestCustomerOrder | limitTo : 5" ng-if="highestCustomerOrder.length > 0">
                            <td>{{order.CustomerName}}</td>
                            <td>{{order.TotalCustomerOrder}}</td>
                        </tr>
                        <tr ng-if="highestCustomerOrder.length == 0" style="text-align:center">
                            <td colspan="2">No data available</td>
                        </tr>
                    </table>
                    <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingHig"></i>
                </div>
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">

                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-warning direct-chat direct-chat-warning fix-height">
                <div class="box-header with-border" style="background-color:#00a65a;color:white;">
                    <h3 class="box-title">COMPLAINT BY OPERATOR</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th>Operator Name</th>
                            <th>Complaint</th>
                        </tr>
                        <tr ng-repeat="order in complaintByOperatorList | limitTo : 5" ng-if="complaintByOperatorList.length > 0">
                            <td>{{order.SalesBy}}</td>
                            <td>{{order.TotalComplaint}}</td>
                        </tr>
                        <tr ng-if="complaintByOperatorList.length == 0" style="text-align:center">
                            <td colspan="2">No data available</td>
                        </tr>
                    </table>
                    <i class="fa fa-spinner fa-spin" style="font-size: 30px;color: #3c8dbc;margin-left: 43%;position: absolute;top: 43%;" ng-if="isLoadingCom"></i>
                </div>
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                        </div>
                    </form>
                </div>
            </div>

            <div class="box box-warning direct-chat direct-chat-warning fix-height">
                <div class="box-header with-border" style="background-color:#00a65a;color:white;">
                    <h3 class="box-title">COMPLAINT BY DEPARTMENT</h3>
                </div>
                <div class="box-body" id="piechart">

                </div>
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section ViewSpecificJavascript{
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/angular.min.js?v=2.0.0"></script>
<script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/Angular/Controller/DashboardController.js?v=1.0.0"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
<script src="~/Scripts/dirPagination.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
<script>
    var drawing = kendo.drawing;
    var geometry = kendo.geometry;

    function columnVisual(e) {
        return createColumn(e.rect, e.options.color);
    }

    function toggleHandler(e) {
        e.preventDefault();
        var visual = e.visual;
        var opacity = e.show ? 0.8 : 1;

        visual.opacity(opacity);
    }

    function createLegendItem(e) {
        var color = e.options.markers.background;
        var labelColor = e.options.labels.color;
        var rect = new geometry.Rect([0, 0], [120, 50]);
        var layout = new drawing.Layout(rect, {
            spacing: 5,
            alignItems: "center"
        });

        var overlay = drawing.Path.fromRect(rect, {
            fill: {
                color: "#fff",
                opacity: 0
            },
            stroke: {
                color: "none"
            },
            cursor: "pointer"
        });

        var column = createColumn(new geometry.Rect([0, 0], [15, 10]), color);
        var label = new drawing.Text(e.series.name, [0, 0], {
            fill: {
                color: labelColor
            }
        })

        layout.append(column, label);
        layout.reflow();

        var group = new drawing.Group().append(layout, overlay);

        return group;
    }

    function createColumn(rect, color) {
        var origin = rect.origin;
        var center = rect.center();
        var bottomRight = rect.bottomRight();
        var radiusX = rect.width() / 2;
        var radiusY = radiusX / 3;
        var gradient = new drawing.LinearGradient({
            stops: [{
                offset: 0,
                color: color
            }, {
                offset: 0.5,
                color: color,
                opacity: 0.9
            }, {
                offset: 0.5,
                color: color,
                opacity: 0.9
            }, {
                offset: 1,
                color: color
            }]
        });

        var path = new drawing.Path({
            fill: gradient,
            stroke: {
                color: "none"
            }
        }).moveTo(origin.x, origin.y)
            .lineTo(origin.x, bottomRight.y)
            .arc(180, 0, radiusX, radiusY, true)
            .lineTo(bottomRight.x, origin.y)
            .arc(0, 180, radiusX, radiusY);

        var topArcGeometry = new geometry.Arc([center.x, origin.y], {
            startAngle: 0,
            endAngle: 360,
            radiusX: radiusX,
            radiusY: radiusY
        });

        var topArc = new drawing.Arc(topArcGeometry, {
            fill: {
                color: color
            },
            stroke: {
                color: "#ebebeb"
            }
        });
        var group = new drawing.Group();
        group.append(path, topArc);
        return group;
    }



</script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Department', 'Total Complaint'],
      ['Carpentry', 8],
      ['Linning', 8],
      ['Finishing', 10],
      ['Packing', 6],
      ['Delivery', 5],
      ['Other', 9]
        ]);
        // Optional; add a title and set the width and height of the chart
        var options = { 'title': '', 'width': 400, 'height': 250 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>

    }
