﻿
@{
    ViewBag.Title = "Customer complaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70% !important;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: none !important;
    }

    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 0 !important;
    }
    .EditIco {
        font-size: 18px;
        padding-right: 5px;
    }

    .DeleteIco {
        font-size: 18px;
    }

    .EditIco:hover {
        color: #f0ad4e;
        text-decoration: none !important;
    }

    .DeleteIco:hover {
        color: #dd4b39;
        text-decoration: none !important;
    }
</style>
<div class="containerr" ng-controller="CustomerComplaintController" ng-init="init()">
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-success" style="float:right;margin-bottom: 5px;" ng-click="addNewCustComplaint(true)" data-toggle="modal" data-placement="top"><i class="fa fa-plus" aria-hidden="true"> </i> Add</button><br />
    </form>
    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue; font-size: 12px;">
                        <th ng-click="sort('RID')">Complaint # <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Title')">Title <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Status')">Status <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('CustomerName')">Customer <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Date')">Added date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Problem')">Problem <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('WorkedBy')">Work by <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak dir-paginate="complaint in CustComplaintList|orderBy:sortKey:reverse |filter:search |itemsPerPage:15" ng-if="CustComplaintList.length > 0">
                        <td>{{complaint.RID}}</td>
                        <td>{{complaint.Title}}</td>
                        <td>{{complaint.Status}}</td>
                        <td>{{complaint.CustomerName}}</td>
                        <td>{{complaint.DateStr}}</td>
                        <td>{{complaint.Problem}}</td>
                        <td>{{complaint.WorkedBy}}</td>
                        <td>
                            <a href="" class="fa fa-pencil-square-o ico EditIco" data-toggle="modal" data-placement="top" title="Edit" ng-click="custComplaintEditModal(complaint.RID)"></a>
                            <a href="" class="fa fa-trash-o ico DeleteIco" data-toggle="modal" data-placement="top" title="Delete" ng-click="removeCustComplaint(complaint.RID)"></a>
                        </td>
                    </tr>
                    <tr ng-if="CustComplaintList.length == 0">
                        <td colspan="7">No data available</td>
                    </tr>
                </tbody>

            </table>
            <dir-pagination-controls max-size="15"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOperatorLoading"></i>


        </div>

    </form>

    @* ------------ Add Customer Complaint Modal--------------- *@
    <div id="addCustComplaintModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog width70">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Customer complaint</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td colspan="2">
                                <Label ID="lnlValidationMsg"></Label>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Title
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.Title" />
                            </td>
                            <td class="section1">
                                Added by
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.AddedBy">
                                    <option value="">Select Operator</option>
                                    <option ng-repeat="operator in GetAllOperationList | orderBy : 'OperatorName' " value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                </select>
                            </td>

                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Date
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="date" datepicker=""  ng-model="complaintDetail.Date" />
                               @* <input class="input-sm form-control txtwidth" type="text" id="datetimepicker" ng-model="complaintDetail.Date"/>*@
                            </td>
                            <td class="section1">
                                Work by
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.WorkedBy">
                                    <option value="">Select Operator</option>
                                    <option ng-repeat="operator in GetAllOperationList | orderBy : 'OperatorName'" value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Customer name
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.CustomerName" ng-change="getOrderByCustomerId(complaintDetail.CustomerName)">
                                    <option value="">Select Customer</option>
                                    <option ng-repeat="customer in GetAllSupplierList | orderBy : 'SupplierName'" ng-if="customer.Type ='Customer'" value="{{customer.RID}}">{{customer.SupplierName}}</option>
                                </select>
                                @*<input class="input-sm form-control txtwidth" type="text" maxlength="10" " />*@
                            </td>
                            <td class="section1">
                                Type
                            </td>
                            <td>
                                <input type="radio" value="Call" id="chkCall" ng-model="complaintDetail.Type">  <i class="fa fa-phone" style="margin-left: 5px;"></i>  Call
                                <input type="radio" value="Email" id="chkEmail" ng-model="complaintDetail.Type"><i class="fa fa-envelope"style="margin-left: 5px;"></i>  Email
                                <input type="radio" value="Other" id="chkOther" ng-model="complaintDetail.Type" checked><i class="fa fa-comments"style="margin-left: 5px;"></i>  Other
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Order number
                            </td>
                            <td>

                                <select class="form-control" ng-model="complaintDetail.OrderNumner" ng-if="orderCountByCustomer > 0">
                                    <option value="">Select Order</option>
                                    <option ng-repeat="order in orderListByCustomer" value="{{order.job_no}}">{{order.job_no}}</option>
                                </select>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.OrderNumner" ng-if="orderCountByCustomer == 0"/>
                            </td>
                            <td class="section1">
                                Department
                            </td>
                            <td class="borderless checkbox-inline" ng-repeat="department in GetAllDepartmentList" style="margin-left: 20px;">
                                <input type="checkbox" value="{{department.RID}}" id="{{department.RID}}" ng-model="complaintDetail.DepartmentIds[department.RID]">{{department.departmentName}}
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Status
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.Status">
                                    @*<option value="">Select status</option>*@
                                    <option ng-repeat="status in ComplaintStatus" value="{{status}}">{{status}}</option>
                                </select>
                            </td>
                            <td class="section1">
                                Priority
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.Priority">
                                    @*<option value="">Select priority</option>*@
                                    <option ng-repeat="priority in ComplaintPriority" value="{{priority}}">{{priority}}</option>
                                </select>
                                @*<input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.Priority" />*@
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Problem
                            </td>
                            <td>
                                <textarea class="input-sm form-control txtwidth" ng-model="complaintDetail.Problem"> </textarea>
                            </td>
                            <td class="section1">
                                Comment
                            </td>
                            <td>
                                <textarea class="input-sm form-control txtwidth" ng-model="complaintDetail.Comment"> </textarea>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @*<input type="button" value="Submit" id="btnSubmit" class="btn btn-primary" />
                                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary cancle" />*@
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addNewCustComplaint(false)">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @* ------------ Edit Supplier Modal--------------- *@
    <div id="editCustComplaintModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog width70">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Customer complaint</h4>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <tr>
                            <td colspan="2">
                                <Label ID="lnlValidationMsg"></Label>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Title
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.Title" />
                            </td>
                            <td class="section1">
                                Added by
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.AddedBy">
                                    <option value="">Select Operator</option>
                                    <option ng-repeat="operator in GetAllOperationList | orderBy : 'OperatorName'" value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                </select>
                            </td>

                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Date
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.Date" />
                                @* <input class="input-sm form-control txtwidth" type="text" id="datetimepicker" ng-model="complaintDetail.Date"/>*@
                            </td>
                            <td class="section1">
                                Work by
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.WorkedBy">
                                    <option value="">Select Operator</option>
                                    <option ng-repeat="operator in GetAllOperationList | orderBy : 'OperatorName'" value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Customer name
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.CustomerName">
                                    <option value="">Select Customer</option>
                                    <option ng-repeat="customer in GetAllSupplierList | orderBy : 'SupplierName'" ng-if="customer.Type ='Customer'" value="{{customer.RID}}">{{customer.SupplierName}}</option>
                                </select>
                                @*<input class="input-sm form-control txtwidth" type="text" maxlength="10" " />*@
                            </td>
                            <td class="section1">
                                Type
                            </td>
                            <td>
                                <input type="radio" value="Call" id="chkCall" ng-model="complaintDetail.Type">  <i class="fa fa-phone" style="margin-left: 5px;"></i>  Call
                                <input type="radio" value="Email" id="chkEmail" ng-model="complaintDetail.Type"><i class="fa fa-envelope" style="margin-left: 5px;"></i>  Email
                                <input type="radio" value="Other" id="chkOther" ng-model="complaintDetail.Type"><i class="fa fa-comments" style="margin-left: 5px;"></i>  Other
                                @*<input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.Type" />*@
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Order number
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.OrderNumner" />
                            </td>
                            <td class="section1">
                                Department
                            </td>
                            <td class="borderless checkbox-inline" ng-repeat="department in GetAllDepartmentList"  style="margin-left: 20px;">
                                <input type="checkbox" value="{{department.RID}}" id="{{department.RID}}" ng-model="complaintDetail.DepartmentIds[department.RID]">{{department.departmentName}}
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Status
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.Status">
                                    <option value="">Select status</option>
                                    <option ng-repeat="status in ComplaintStatus" value="{{status}}">{{status}}</option>
                                </select>
                            </td>
                            <td class="section1">
                                Priority
                            </td>
                            <td>
                                <select class="form-control" ng-model="complaintDetail.Priority">
                                    <option value="">Select priority</option>
                                    <option ng-repeat="priority in ComplaintPriority" value="{{priority}}">{{priority}}</option>
                                </select>
                                @*<input class="input-sm form-control txtwidth" type="text" ng-model="complaintDetail.Priority" />*@
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Problem
                            </td>
                            <td>
                                <textarea class="input-sm form-control txtwidth" ng-model="complaintDetail.Problem"> </textarea>
                            </td>
                            <td class="section1">
                                Comment
                            </td>
                            <td>
                                <textarea class="input-sm form-control txtwidth" ng-model="complaintDetail.Comment"> </textarea>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @*<input type="button" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary cancle" />*@
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="updateCustComplaint(complaintDetail)">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>
@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Angular/Controller/CustomerComplaintController.js?v=1.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    @*<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@
<link href="~/Content/datepicker/datepicker.css" rel="stylesheet" />
<script src="~/Content/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
<link href="~/Content/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui-1.8.19.custom.min.js"></script>
<script type="text/javascript">
    $(function () {
        //alert("date");
        //$('.datepicker').datepicker({
        //    format: 'mm-dd-yyyy'
        //});
        //$("[id$=datetimepicker]").datetimepicker();
        //$("[id$=txtorderdate]").datepicker();

    });
    //$('#datetimepicker').datetimepicker({
    //    format: 'yyyy-mm-dd'
    //});
</script>      
}





