﻿@model incr.Models.OrderDTO
@{
    ViewBag.Title = "ORDER FORM";
    ViewBag.Description = "";

    
}

@functions{
    string setValue(decimal value)
    {
        if (value == null || value == 0)
        {
            return string.Empty; ;
        }
        else {
            return value.ToString();
        }

    }
    string setValue(long value)
    {
        if (value == null || value == 0)
        {
            return string.Empty; ;
        }
        else
        {
            return value.ToString();
        }

    }
}
<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    <script src="~/Content/js/plugins/icheck/icheck.js"></script>
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
<link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
    <script src="~/Scripts/Angular/Controller/OrderController.js?v=0.19"></script>
    @if (ViewBag.Mode != null && ViewBag.Mode == "view")
    {
        <link href="~/Content/css/viewMode.css" rel="stylesheet" />
    }
    <style>
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #3c8dbc;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .carpantary-top {
            width: 70px;
            margin-top: 58px;
            position: absolute;
            margin-left: 65px;
        }

        .LongerRight-CLS {
            height: 150px;
        }

        .LongerLeft-CLS {
            width: 150px !important;
        }

        .LongerRight-CLS td {
            border-top: none;
            border-top: none !important;
        }



        .mobileSize {
            width: 33%;
            float: left;
        }


        .Particular {
            float: left !important;
        }

        .tblsits {
        }

            .tblsits td {
                border: solid 2px #AB7E3E;
                background-color: #f1d59f;
                box-shadow: 5px 10px 20px 0 rgba(164, 117, 36) !important;
                width: 80px;
                height: 60px;
            }

        .bodylbl label {
            margin-top: 7px;
        }

        .carpantary-middle {
            width: 97px;
            margin-top: 190px;
            position: absolute;
            margin-left: 65px;
        }

        .carpantary-left {
            width: 73px;
            margin-top: 131px;
            position: absolute;
            margin-left: -20px;
        }

        .carpantary-right {
            width: 73px;
            margin-top: 274px;
            position: absolute;
            margin-left: 347px;
        }

        .carpantary-right-width {
            width: 97px;
            margin-top: 190px;
            position: absolute;
            margin-left: 199px;
        }

        .carpantary-bottom {
            width: 73px;
            margin-top: -34px;
            position: absolute;
            margin-left: 123px;
        }

        .handle-length {
            width: 85px;
            margin-top: 87px;
            position: absolute;
            margin-left: 265px;
        }

        .handle-height {
            width: 75px;
            margin-top: 257px;
            position: absolute;
            margin-left: 349px;
        }



        .handle-width {
            width: 79px;
            margin-top: 228px;
            position: absolute;
            margin-left: 252px;
        }

        .rb-fw600 {
            font-weight: 600;
        }

        .carpantary-right1 {
            width: 73px;
            margin-top: 234px;
            position: absolute;
            margin-left: 260px;
        }

        .carpantary-right2 {
            width: 73px;
            margin-top: 270px;
            position: absolute;
            margin-left: 260px;
        }

        .carpantary-right3 {
            width: 73px;
            margin-top: 306px;
            position: absolute;
            margin-left: 260px;
        }
    </style>
</head>
<body ng-controller="OrderController" ng-init="init()">
    <!-- First Container -->

    <form id="orderDetail">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">CUSTOMER DETAILS</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="hidden" id="hdnPrice_per" name="hdnPrice_per" value="" />
                            <input type="hidden" id="hdnCoder"  name="hdnCoder" value="@Model.ParticularCode" />
                            <input type="hidden" id="hdntype"  name="hdntype" value=""/>
                            <input type="hidden" id="hdnRange"  name="hdnRange" value="@Model.ParticularRange" />
                            
                            <input type="hidden" name="orderid" value="@Model.Id" />
                            <input type="hidden" name="tmpcustomerId" id="tmpcustomerId" value="@(Model.CustomerId)" />
                            <input type="hidden" name="tmpjobby" id="tmpjobby" value="@Model.JobById" />
                            <input type="hidden" name="tmpsalesby" id="tmpsalesby" value="@Model.SalesById" />
                            <input type="hidden" name="tmpBodyFabricGroupId" id="tmpBodyFabricGroupId" value="@Model.BodyFabricGroupId" />
                            <input type="hidden" name="tmpBodyFabricTypeId" id="tmpBodyFabricTypeId" value="@Model.BodyFabricTypeId" />

                            <input type="hidden" name="tmpCushionFabricGroupId" id="tmpCushionFabricGroupId" value="@Model.CushionFabricGroupId" />
                            <input type="hidden" name="tmpCushionFabricTypeId" id="tmpCushionFabricTypeId" value="@Model.CushionFabricTypeId" />
                            <input type="hidden" name="tmpParticula4GroupId" id="tmpParticula4GroupId" value="@Model.Particula4FabricGroupId" />
                            <input type="hidden" name="tmpParticula4FabricTypeId" id="tmpParticula4FabricTypeId" value="@Model.Particula4FabricTypeId" />
                            <input type="hidden" name="tmpParticular5GroupId" id="tmpParticular5GroupId" value="@Model.Particular5FabricGroupId" />
                            <input type="hidden" name="tmpParticular5FabricTypeId" id="tmpParticular5FabricTypeId" value="@Model.Particular5FabricTypeId" />

                            <input type="hidden" name="tmpSeatFabricGroupId" id="tmpSeatFabricGroupId" value="@Model.SeatFabricGroupId" />
                            <input type="hidden" name="tmpSeatFabricTypeId" id="tmpSeatFabricTypeId" value="@Model.SeatFabricTypeId" />
                            <input type="hidden" name="tmpParticularNameId" id="tmpParticularNameId" value="@Model.ParticularNameId" />

                            <input type="hidden" name="netAmmaunt" id="netAmmaunt" value="0" />
                            <input type="hidden" name="grossAmmaunt" id="grossAmmaunt" value="0" />
                            <div class="form-group row">
                                <label for="txtName" class="col-sm-3 col-form-label">NAME</label>
                                <div class="col-sm-9">
                                    <select id="customerId" name="customerId" class="form-control" ng-model="orderDetail.customerId" ng-change="fillAddress(orderDetail.customerId)">
                                        <option value="0">Select Customer</option>
                                        <option ng-repeat="customer in getAllCustomerList" value="{{customer.RID}}">{{customer.SupplierName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtMobile" class="col-sm-3 col-form-label">MOBILE</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="mobile" id="txtMobile" value="{{orderDetail.Mobile}}" tabindex="2" readonly="readonly" placeholder="Mobile">
                                </div>
                            </div>

                            <div class="form-group row">

                                <label for="txtAddress" class="col-sm-3 col-form-label">ADDRESS</label>

                                <div class="col-sm-9">
                                    <textarea class="form-control" id="txtAddress" tabindex="3" placeholder="Address" value="{{orderDetail.Address}}" ng-bind="orderDetail.Address" readonly="readonly" name="address" rows="7"> @Model.Address</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-group row">
                                <label for="txtjobno" class="col-sm-3 col-form-label">JOB NO</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  id="txtjobno" tabindex="4" name="JobNo" value="@(Model.JobNo??ViewBag.Job)"   placeholder="Job No">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtorderdate" class="col-sm-3 col-form-label">ORDER DATE</label>
                                <div class="col-sm-9">
                                    <input type="date"  class="form-control" id="txtorderdate" tabindex="5" name="txtorderdate" value="@(Model.OrderDate.ToString("yyyy-MM-dd")=="0001-01-01" ?(DateTime.Now).ToString("yyyy-MM-dd"):Model.OrderDate.ToString("yyyy-MM-dd")  )"placeholder="Order date">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="txtsalesBy" class="col-sm-3 col-form-label">SALES BY</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control" id="txtsalesBy" tabindex="6" name="SalesBy" value="@Model.SalesBy" placeholder="Sales By">*@
                                    <select id="SalesById" name="SalesById" ng-model="orderDetail.salesbyid" class="form-control">
                                        <option value="0">Select Operator</option>
                                        <option ng-repeat="operator in GetAllOperationList" ng-if='operator.is_supervisor' value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtdeliverydate" class="col-sm-3 col-form-label">DELI. DATE</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="txtdeliverydate" tabindex="7" name="DeliveryDate" value="@(Model.DeliveryDate.ToString("yyyy-MM-dd")=="0001-01-01" ?(DateTime.Now.AddDays(7)).ToString("yyyy-MM-dd"):Model.DeliveryDate.ToString("yyyy-MM-dd")  )" placeholder="Delivery">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="txtdeliverydate" class="col-sm-3 col-form-label">Party name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtPartyname" tabindex="7" name="Partyname" value="@Model.Partyname" placeholder="Party name">
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="txtJobBY" class="col-sm-3 col-form-label">JOB BY</label>
                                    <div class="col-sm-9">
                                        <select id="JobById" name="JobById" ng-model="orderDetail.JobById" class="form-control">
                                            <option value="0">Select Operator</option>
                                            <option ng-repeat="operator in GetAllOperationList" ng-if='!operator.is_supervisor' value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                        </select>
                                    </div>

                                </div>*@


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">PARTICULARS</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-sm-2"> </div>
                                <div class="col-sm-9">
                                    <select id="ParticularNameId" tabindex="9" name="ParticularNameId" ng-model="orderDetail.ParticularNameId" ng-init="orderDetail.ParticularNameId=@(Model.ParticularNameId)" ng-change="getPriceFromList()" class="form-control">
                                        <option value="0"></option>

                                        <option ng-repeat="Price in GetPriceList" value="{{Price.id}}">{{Price.Name}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-sm-5 Particular">
                                    <label class="container">
                                        Without fabric
                                        <input type="checkbox" id="chkWithoutfabric" name="chkWithoutfabric" ng-change='changeWithoutfabric()' ng-model="orderDetail.IsWithoutfabric" ng-init="orderDetail.IsWithoutfabric=@(@Model.IsWithoutfabric)" checked="@Model.IsWithoutfabric" >
                                        <span class="checkmark"></span>
                                    </label>

                                </div>
                                <div class="col-sm-3 Particular">
                                    <label id="Particularcode" class="col-sm-10 col-form-label" ng-bind="orderDetail.Code"></label>
                                    @*ng-init="orderDetail.Particular3Total=@(Model.Particular3Qty * Model.Particular3Rate)"*@
                                </div>
                                <div class="col-sm-4 Particular">
                                    <label id="ParticularRange" class="col-sm-10 col-form-label" ng-bind="orderDetail.Range"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="width:32%; float:left;">

                            <div class="form-group row">
                                <div class="col-sm-2"> </div>
                                <div class="col-sm-9">
                                    <label for="inputPassword3" class="col-sm-3 col-form-label">PARTICULAR</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3"> </div>
                                <div class="col-sm-9">

                                    <textarea class="form-control" tabindex="9" name="Particular1" id="Particular1" placeholder="Particular" value="" rows="1">@Model.Particular1</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"> </div>
                                <div class="col-sm-9">

                                    <textarea class="form-control Fabric" tabindex="12" name="Particular2" id="Particular2" placeholder="Particular" value="" rows="1"> @Model.Particular2 </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"> </div>
                                <div class="col-sm-9">

                                    <textarea class="form-control Fabric" tabindex="13" name="Particular3" id="Particular3" placeholder="Particular" value="" rows="1">@Model.Particular3 </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"> </div>
                                <div class="col-sm-9">

                                    <textarea class="form-control Fabric" tabindex="14" name="Particular4" id="Particular4" placeholder="Particular" value="" rows="1"> @Model.Particular4</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"> </div>
                                <div class="col-sm-9">

                                    <textarea class="form-control Fabric" tabindex="15" name="Particular5" id="Particular5" placeholder="Particular" value="" rows="1"> @Model.Particular5</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-8" style="width:68%; float:left!important; ">


                            <div class="form-group row">
                                <div class="col-sm-3 Particular">
                                    <label for="inputPassword3" class="col-sm-3 col-form-label">FABRIC</label>
                                </div>
                                <div class="col-sm-3 Particular">
                                    <label for="inputPassword3" class="col-sm-10 col-form-label">FABRIC TYPE</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <label for="inputPassword3" class="col-sm-3 col-form-label">METER(S)</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <label for="inputPassword3" class="col-sm-3 col-form-label">RATE</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <label for="inputPassword3" class="col-sm-3 col-form-label">TOTAL</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 Particular">
                                    <select id="BodyFabricGroupId"  tabindex="9" name="BodyFabricGroupId" ng-model="orderDetail.BodyFabricGroupId" ng-init="orderDetail.BodyFabricGroupId=@(Model.BodyFabricGroupId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric</option>
                                        <option ng-repeat="operator in AllFabricGroupLIST" value="{{operator.GroupId}}">{{operator.FabricGroup}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 Particular">

                                    <select id="TapestryBodyfabricId"  tabindex="9" name="TapestryBodyfabricId" ng-model="orderDetail.TapestryBodyfabricId" ng-init="orderDetail.TapestryBodyfabricId=@(Model.BodyFabricTypeId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric type </option>
                                        <option ng-repeat="fabric in AllFabricLIST" ng-if='fabric.FabricGroupId==orderDetail.BodyFabricGroupId' value="{{fabric.RID}}">{{fabric.FacricName}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="text" tabindex="10" class="form-control" ng-model="orderDetail.Particular1Qty" ng-init="orderDetail.Particular1Qty=@Model.Particular1Qty" name="Particular1-qty" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" tabindex="11" class="form-control" name="Particular1-rate" ng-model="orderDetail.Particular1Rate" ng-init="orderDetail.Particular1Rate=@Model.Particular1Rate" value="@Model.Particular1Rate" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">

                                    <input type="number" id="Particular1Total" name="Particular1Total" class="form-control" ng-model="orderDetail.Particular1Total" ng-bind="orderDetail.Particular1Total" ng-init="orderDetail.Particular1Total=@Model.Particular1Total" ng-change="updatePrice()" />
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 Particular">

                                    <select id="SeatFabricGroupId"  tabindex="12" name="SeatFabricGroupId" ng-model="orderDetail.SeatFabricGroupId" ng-init="orderDetail.SeatFabricGroupId=@(Model.SeatFabricGroupId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric</option>
                                        <option ng-repeat="operator in AllFabricGroupLIST" value="{{operator.GroupId}}">{{operator.FabricGroup}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 Particular">

                                    <select id="TapestrySeatFabricTypeId"  tabindex="12" name="TapestrySeatFabricTypeId" ng-model="orderDetail.TapestrySeatFabricTypeId" ng-init="orderDetail.TapestrySeatFabricTypeId=@(Model.SeatFabricTypeId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric type </option>
                                        <option ng-repeat="fabric in AllFabricLIST" ng-if='fabric.FabricGroupId==orderDetail.SeatFabricGroupId' value="{{fabric.RID}}">{{fabric.FacricName}}</option>
                                    </select>
                                    @*<input tabindex="33" class="form-control" placeholder="Fabric Type" name="TapestrySeatfabric" value="@Model.TapestrySeatFabricType">*@
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="text" tabindex="12" class="form-control Fabric" name="Particular2-qty" ng-model="orderDetail.Particular2Qty" ng-init="orderDetail.Particular2Qty=@Model.Particular2Qty" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" tabindex="12" class="form-control Fabric" name="Particular2-rate" ng-model="orderDetail.Particular2Rate" ng-init="orderDetail.Particular2Rate=@Model.Particular2Rate" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">

                                    <input type="number" id="Particular2Total" name="Particular2Total" class="form-control Fabric" ng-model="orderDetail.Particular2Total" ng-bind="orderDetail.Particular2Total" ng-init="orderDetail.Particular2Total=@Model.Particular2Total" ng-change="updatePrice()" />
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-3 Particular">

                                    <select id="CushionFabricGroupId"  tabindex="13" name="CushionFabricGroupId" ng-model="orderDetail.CushionFabricGroupId" ng-init="orderDetail.CushionFabricGroupId=@(Model.CushionFabricGroupId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric</option>
                                        <option ng-repeat="operator in AllFabricGroupLIST" value="{{operator.GroupId}}">{{operator.FabricGroup}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 Particular">
                                    <select id="CushionFabricTypeId"  tabindex="13" name="CushionFabricTypeId" ng-model="orderDetail.CushionFabricTypeId" ng-init="orderDetail.CushionFabricTypeId=@(Model.CushionFabricTypeId)" ngng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric type </option>
                                        <option ng-repeat="fabric in AllFabricLIST" ng-if='fabric.FabricGroupId==orderDetail.CushionFabricGroupId' value="{{fabric.RID}}">{{fabric.FacricName}}</option>
                                    </select>
                                    @*<input tabindex="34" class="form-control" placeholder="Fabric Type" name="TapestryCushionfabric" value="@Model.TapestryCushionFabricType">*@
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="text" class="form-control Fabric" tabindex="13" name="Particular3-qty" ng-model="orderDetail.Particular3Qty" ng-init="orderDetail.Particular3Qty=@Model.Particular3Qty" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" class="form-control Fabric" tabindex="13" name="Particular3-rate" ng-model="orderDetail.Particular3Rate" ng-init="orderDetail.Particular3Rate=@Model.Particular3Rate" ng-change="updatePrice()" placeholder="">
                                </div>

                                <div class="col-sm-2 Particular">

                                    <input type="number" id="Particular3Total" name="Particular3Total" class="form-control Fabric" ng-model="orderDetail.Particular3Total" ng-bind="orderDetail.Particular3Total" ng-init="orderDetail.Particular3Total=@Model.Particular3Total" ng-change="updatePrice()" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 Particular">
                                    <select id="Particula4GroupId"  tabindex="14" name="Particula4GroupId" ng-model="orderDetail.Particula4GroupId" ng-init="orderDetail.Particula4GroupId=@(Model.Particula4FabricGroupId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric</option>
                                        <option ng-repeat="operator in AllFabricGroupLIST" value="{{operator.GroupId}}">{{operator.FabricGroup}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 Particular">
                                    <select id="Particula4FabricTypeId"  tabindex="14" name="Particula4FabricTypeId" ng-model="orderDetail.Particula4FabricTypeId" ng-init="orderDetail.Particula4FabricTypeId=@(Model.Particula4FabricTypeId)" ngng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric type </option>
                                        <option ng-repeat="fabric in AllFabricLIST" ng-if='fabric.FabricGroupId==orderDetail.Particula4GroupId' value="{{fabric.RID}}">{{fabric.FacricName}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="text" class="form-control Fabric" tabindex="14" name="Particular4-qty" ng-model="orderDetail.Particular4Qty" ng-init="orderDetail.Particular4Qty=@Model.Particular4Qty" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" class="form-control Fabric" tabindex="14" name="Particular4-rate" ng-model="orderDetail.Particular4Rate" ng-init="orderDetail.Particular4Rate=@Model.Particular4Rate" ng-change="updatePrice()" placeholder="">
                                </div>

                                <div class="col-sm-2 Particular">
                                    <input type="number" id="Particular4Total" name="Particular4Total" class="form-control Fabric" ng-model="orderDetail.Particular4Total" ng-bind="orderDetail.Particular4Total" ng-init="orderDetail.Particular4Total=@Model.Particular4Total" ng-change="updatePrice()" />
                                </div>
                            </div>
                             
                            <div class="form-group row">
                                <div class="col-sm-3 Particular">
                                    <select id="Particular5GroupId"  tabindex="15" name="Particular5GroupId" ng-model="orderDetail.Particular5GroupId" ng-init="orderDetail.Particular5GroupId=@(Model.Particular5FabricGroupId)" ng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric</option>
                                        <option ng-repeat="operator in AllFabricGroupLIST" value="{{operator.GroupId}}">{{operator.FabricGroup}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 Particular">
                                    <select id="Particula4FabricTypeId"  tabindex="15" name="Particular5FabricTypeId" ng-model="orderDetail.Particular5FabricTypeId" ng-init="orderDetail.Particular5FabricTypeId=@(Model.Particular5FabricTypeId)" ngng-change="updatePrice()" class="form-control Fabric">
                                        <option value="0">Select Fabric type</option>
                                        <option ng-repeat="fabric in AllFabricLIST" ng-if='fabric.FabricGroupId==orderDetail.Particular5GroupId' value="{{fabric.RID}}">{{fabric.FacricName}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="text" class="form-control Fabric" tabindex="15" name="Particular5qty" ng-model="orderDetail.Particular5Qty" ng-init="orderDetail.Particular5Qty=@Model.Particular5Qty" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" class="form-control Fabric" tabindex="15" name="Particular5rate" ng-model="orderDetail.Particular5Rate" ng-init="orderDetail.Particular5Rate=@Model.Particular5Rate" ng-change="updatePrice()" placeholder="">
                                </div>

                                <div class="col-sm-2 Particular">
                                    <input type="number" id="Particular5Total" name="Particular5Total" class="form-control Fabric" ng-model="orderDetail.Particular5Total" ng-bind="orderDetail.Particular5Total" ng-init="orderDetail.Particular5Total=@Model.Particular5Total" ng-change="updatePrice()" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4 Particular">
                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label"> TOTAL</label>
                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label" ng-bind="orderDetail.ParticularNetTotal | number : 2" step="0.01"></label>
                                </div>
                            </div>

                        </div>

                    </div>

                    @*<div class="row">
                            <div class="col-sm-4 " style="width:32%; float:left;">


                                <div class="form-group row">

                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-9">
                                        <label for="lblBody" class="col-sm-12 col-form-label">FABRIC GROUP</label>

                                    </div>

                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-3">
                                        <label for="lblBody" class="col-sm-4 col-form-label">BODY</label>

                                    </div>


                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="lblSeat" class="col-sm-3 col-form-label">SEAT</label>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="lblCushion" class="col-sm-3 col-form-label">CUSHION</label>
                                    </div>

                                </div>


                            </div>
                            <div class="col-sm-8" style="width:68%; float:left;">


                                <div class="form-group row">

                                    <div class="col-sm-4 Particular">
                                        <label for="inputPassword3" class="col-sm-8 col-form-label">FABRIC TYPE</label>
                                    </div>
                                    <div class="col-sm-4 Particular">
                                        <label for="inputPassword3" class="col-sm-3 col-form-label">METER(S)</label>
                                    </div>
                                    <div class="col-sm-4 Particular">
                                        <label for="inputPassword3" class="col-sm-8 col-form-label">PRICE</label>
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-sm-4 Particular">

                                        <input type="number" tabindex="20" class="form-control" name="TapestryBodyMTR" ng-model="orderDetail.TapestryBodyMTR" ng-init="orderDetail.TapestryBodyMTR=@Model.TapestryBodyMTR" ng-change="updatePrice()" placeholder="">
                                    </div>
                                    <div class="col-sm-4 Particular">
                                        <label id="BodyfabricPrice" class="col-sm-3 col-form-label" ng-bind="orderDetail.BodyfabricPrice"></label>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-4 Particular">
                                        <input type="number" tabindex="23" class="form-control" name="TapestrySeatMTR" ng-model="orderDetail.TapestrySeatMTR" ng-init="orderDetail.TapestrySeatMTR=@Model.TapestrySeatMTR" ng-change="updatePrice()" placeholder="">
                                    </div>
                                    <div class="col-sm-4 Particular">
                                        <label id="SeatFabricPrice" class="col-sm-3 col-form-label" ng-bind="orderDetail.SeatFabricPrice"></label>
                                    </div>

                                </div>
                                <div class="form-group row">



                                    <div class="col-sm-4 Particular">
                                        <input type="number" tabindex="26" class="form-control" name="TapestryCushionMTR" ng-model="orderDetail.TapestryCushionMTR" ng-init="orderDetail.TapestryCushionMTR=@Model.TapestryCushionMTR" ng-change="updatePrice()" placeholder="">
                                    </div>
                                    <div class="col-sm-4 Particular">
                                        <label id="CushionFabricPrice" class="col-sm-3 col-form-label" ng-bind="orderDetail.CushionFabricPrice"></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">
                                        <label for="inputPassword3" class="col-sm-3 col-form-label"></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="inputPassword3" class="col-sm-3 col-form-label">

                                        </label>
                                    </div>
                                </div>


                            </div>

                        </div>*@
                    <div class="row">
                        <div class="col-sm-4 bodylbl" style="width:32%; float:left;">
                        </div>
                        <div class="col-sm-8" style="width:68%; float:left;">
                            @*<div class="form-group row">

                                    <div class="col-sm-2 Particular">
                                        <label for="inputPassword3" class="col-sm-8 col-form-label"></label>
                                    </div>
                                    <div class="col-sm-6 Particular">
                                        <label for="inputPassword3" class="col-sm-12 col-form-label">NET TOTAL</label>
                                    </div>
                                    <div class="col-sm-4 Particular">
                                        <label for="inputPassword3" class="col-sm-8 col-form-label" ng-bind="orderDetail.NetTotal | number : 2" step="0.01"></label>
                                    </div>

                                </div>*@

                            <div class="form-group row">

                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label">SGST(%)</label>
                                </div>
                                <div class="col-sm-4 ">
                                    <input type="number" tabindex="27" class="form-control" name="SGST" ng-model="orderDetail.SGST" ng-init="orderDetail.SGST=@(Model.JobNo!=null ? Model.SGST : 9)" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label" ng-bind="orderDetail.SGSTValue | number : 2" step="0.01"></label>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label">CGST(%)</label>
                                </div>
                                <div class="col-sm-4 ">
                                    <input type="number" tabindex="28" class="form-control" name="CGST" ng-model="orderDetail.CGST" ng-init="orderDetail.CGST=@(Model.JobNo!=null ? Model.CGST : 9)" ng-change="updatePrice()" placeholder="">
                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label" ng-bind="orderDetail.CGSTValue | number : 2" step="0.01"></label>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-4 Particular">

                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label">Transport</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" tabindex="29" name="TransPort" class="form-control col-sm-6" ng-model="orderDetail.TransPort" ng-init="orderDetail.TransPort=@(Model.TransPortPrice)" ng-change="updatePrice()" placeholder="">
                                </div>

                            </div>
                            <div class="form-group row">

                                <div class="col-sm-4 Particular">

                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label">Extra</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" tabindex="30" class="form-control  col-sm-6" ng-model="orderDetail.Extra" ng-init="orderDetail.Extra=@(Model.Extra)" ng-change="updatePrice()" name="Extra" placeholder="">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-4 Particular">

                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label">Discount</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <input type="number" tabindex="31" class="form-control col-sm-6" ng-model="orderDetail.Discount" ng-init="orderDetail.Discount=@(Model.Discount)" ng-change="updatePrice()" name="Discount" placeholder="">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-sm-4 Particular">

                                </div>
                                <div class="col-sm-4 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label">GROSS</label>
                                </div>
                                <div class="col-sm-2 Particular">
                                    <label for="inputPassword3" class="col-sm-8 col-form-label" ng-bind="orderDetail.GrossAmaunt | number : 2" step="0.01">GROSS</label>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="box">
                <div class="box-header">
                    <h3 class="box-title">TAPESTRY</h3>
                </div>
                 /.box-header
                <div class="box-body">
                    <div class="container-fluid bg-3">

                    </div>
                </div>
            </div>*@

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">CARPENTARY</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">CARPENTARY</label>
                                </div>
                                <div class="col-sm-8" style="max-width:360px;">
                                    <input type="number" class="form-control carpantary-top " tabindex="32" name="carpantary-top-width" value="@setValue(Model.CarpantaryTopWidth)" placeholder="">
                                    <input type="number" class="form-control carpantary-middle " tabindex="33" name="carpantary-middle-width" value="@setValue(Model.CarpantaryMiddleWidth)" placeholder="">
                                    <input type="number" class="form-control carpantary-left" tabindex="34" name="carpantary-left-hight" value="@setValue(Model.CarpantaryLeftHight)" placeholder="">
                                    <input type="number" class="form-control carpantary-right" tabindex="35" name="carpantary-right-hight" value="@setValue(Model.CarpantaryRightHight)" placeholder="">
                                    <input type="number" class="form-control carpantary-right1" tabindex="34" name="carpantary-right-hight1" value="@setValue(Model.CarpantaryRightHight1)" placeholder="">
                                    <input type="number" class="form-control carpantary-right2" tabindex="34" name="carpantary-right-hight2" value="@setValue(Model.CarpantaryRightHight2)" placeholder="">
                                    <input type="number" class="form-control carpantary-right3" tabindex="34" name="carpantary-right-hight3" value="@setValue(Model.CarpantaryRightHight3)" placeholder="">
                                    <input type="number" class="form-control carpantary-right-width" tabindex="36" name="carpantary-right-width" value="@setValue(Model.CarpantaryRightWidth)" placeholder="">
                                    <img style="height:400px;" src="~/Content/img/S1.png" />
                                    <input type="text" class="form-control carpantary-bottom" tabindex="37" name="carpantary-bottom-width" value="@setValue(Model.CarpantaryBottomWidth)" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group row">


                                <div class="col-sm-2">
                                    <label for="inputPassword3" class="col-sm-3 col-form-label">HANDLE</label>
                                </div>
                                <div class="col-sm-8" style="max-width:360px;">
                                    <input type="number" class="form-control handle-length " tabindex="38" name="handle-length" value="@setValue(Model.HandleLength)" placeholder="">
                                    <input type="number" class="form-control handle-height " tabindex="39" name="handle-height" value="@setValue(Model.HandleHeight)" placeholder="">
                                    <input type="number" class="form-control handle-width " tabindex="40" name="handle-width" value="@setValue(Model.HandleWidth)" placeholder="">
                                    <img style="height:400px;" src="~/Content/img/S2.png" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Type</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">PLY</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">


                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize "><label class="rb-fw600"><input type="radio" tabindex="41" name="ply" value="SAAG" @(Model.PlyType == "SAAG" ? "checked='true'" : "") class="flat-red"> SAAG</label></div>



                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" name="ply" tabindex="42" value="PINEWOOD" @(Model.PlyType == "PINEWOOD" ? "checked='true'" : "") class="flat-red"> PINEWOOD</label>

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">POLISH</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">


                            <div class="form-group row">
                                <div class="col-sm-2  "><label class="rb-fw600"><input type="radio" tabindex="41" name="polish" value="BLACK" @(Model.Polish == "BLACK" ? "checked='true'" : "") class="flat-red"> BLACK</label></div>

                                <div class="col-sm-2  "><label class="rb-fw600"><input type="radio" tabindex="41" name="polish" value="COFFEE" @(Model.Polish == "COFFEE" ? "checked='true'" : "") class="flat-red"> COFFEE</label></div>
                                <div class="col-sm-2  "><label class="rb-fw600"><input type="radio" tabindex="41" name="polish" value="WALNUT" @(Model.Polish == "WALNUT" ? "checked='true'" : "") class="flat-red"> WALNUT</label></div>
                                <div class="col-sm-2  "><label class="rb-fw600"><input type="radio" tabindex="41" name="polish" value="NATURAL" @(Model.Polish == "NATURAL" ? "checked='true'" : "") class="flat-red"> NATURAL</label></div>

                                <div class="col-sm-3 ">
                                    <label class="rb-fw600"><input type="radio" name="polish" tabindex="42" value="WITHOUT POLISH" @(Model.Polish == "WITHOUT POLISH" ? "checked='true'" : "") class="flat-red"> WITHOUT POLISH</label>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="box">
            <div class="box-header">
                <h3 class="box-title">LINNING</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">SPRING</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">

                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="43" name="SPRING" value="ZIGZAG" @(Model.Spring == "ZIGZAG" ? "checked='true'" : "") class="flat-red"> ZIGZAG</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="44" name="SPRING" value="BELT" @(Model.Spring == "BELT" ? "checked='true'" : "") class="flat-red"> BELT</label>
                                </div>


                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="45" name="SPRING" value="JALEBI" @(Model.Spring == "JALEBI" ? "checked='true'" : "") class="flat-red"> JALEBI</label>
                                </div>


                            </div>




                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">FOAMING</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">

                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="46" name="FOAMING" value="4+1" @(Model.Foaming == "4+1" ? "checked='true'" : "") class="flat-red"> 4+1</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="47" name="FOAMING" value="4+2" @(Model.Foaming == "4+2" ? "checked='true'" : "") class="flat-red"> 4+2</label>
                                </div>
                            </div>






                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">TYPE</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">

                            <div class="form-group row">

                                <div class="col-sm-3">

                                    <label class="rb-fw600"><input type="radio" tabindex="48" name="LinningType" value="H.R" @(Model.LinningType == "H.R" ? "checked='true'" : "") class="flat-red"> H.R</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="rb-fw600"><input type="radio" tabindex="49" name="LinningType" value="40-DE" @(Model.LinningType == "40-DE" ? "checked='true'" : "") class="flat-red"> 40 DE</label>
                                </div>


                                <div class="col-sm-3">
                                    <label class="rb-fw600"><input type="radio" tabindex="50" name="LinningType" value="40 DE+SUPER SOFT" @(Model.LinningType == "40 DE+SUPER SOFT" ? "checked='true'" : "") class="flat-red"> 40 DE+SUPER SOFT</label>
                                </div>


                                <div class="col-sm-3">
                                    <label class="rb-fw600"><input type="radio" tabindex="51" name="LinningType" value="H.R + SUPER SOFT" @(Model.LinningType == "H.R + SUPER SOFT" ? "checked='true'" : "") class="flat-red"> H.R + SUPER SOFT</label>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">CUSHION BACK</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">

                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="52" name="CushionBack" value="RECRON" @(Model.CushionBack == "RECRON" ? "checked='true'" : "") class="flat-red"> RECRON</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="53" name="CushionBack" value="FOAM" @(Model.CushionBack == "FOAM" ? "checked='true'" : "") class="flat-red"> FOAM</label>
                                </div>


                                @*<div class="col-sm-3">
                                        <label><input type="radio" tabindex="32" name="CushionBack" value="QTY" @(Model.CushionBack == "QTY" ? "checked='true'" : "") class="flat-red">QTY</label>
                                    </div>


                                                                <div class="col-sm-3">
                                                                    <label><input type="radio" tabindex="32" name="CushionBack" value="2+1" @(Model.CushionBack == "2+1" ? "checked='true'" : "") class="flat-red">2+1</label>
                                                                </div>   *@
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">QTY</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">

                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="54" name="linningqty" value="2+2" @(Model.LinningQty == "2+2" ? "checked='true'" : "") class="flat-red">2+2</label>
                                </div>

                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="55" name="linningqty" value="2+1" @(Model.LinningQty == "2+1" ? "checked='true'" : "") class="flat-red">2+1</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">STITCH FOR SOFA</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">



                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="56" name="StitchForSofa" value="SAME COLOR" @(Model.StitchForSofa == "SAME COLOR" ? "checked='true'" : "") class="flat-red"> SAME COLOR</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="57" name="StitchForSofa" value="DIFFERENT COLOR" @(Model.StitchForSofa == "DIFFERENT COLOR" ? "checked='true'" : "") class="flat-red"> DIFFERENT COLOR</label>
                                </div>
                            </div>



                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">CUSHION STITCH</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">



                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="58" name="CushionSitch" value="REGULAR" @(Model.CushionStitch == "REGULAR" ? "checked='true'" : "") class="flat-red"> REGULAR</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="59" name="CushionSitch" value="BORDER" @(Model.CushionStitch == "BORDER" ? "checked='true'" : "") class="flat-red"> BORDER</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="60" name="CushionSitch" value="CHAP SILAI" @(Model.CushionStitch == "CHAP SILAI" ? "checked='true'" : "") class="flat-red"> CHAP SILAI</label>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="box">
            <div class="box-header">
                <h3 class="box-title">FITTING</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">FITTING</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">

                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="61" name="Fitting" value="WITH LEG" @(Model.Fitting == "WITH LEG" ? "checked='true'" : "") class="flat-red"> WITH LEG</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="61" name="Fitting" value="WITHOUT LEG" @(Model.Fitting == "WITHOUT LEG" ? "checked='true'" : "") class="flat-red"> WITHOUT LEG</label>
                                </div>

                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">PACKING</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">PACKING</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">




                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="62" name="Packing" value="Putthu" @(Model.Packing == "Putthu" ? "checked='true'" : "") class="flat-red"> PUTTHU</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="62" name="Packing" value="Plastic" @(Model.Packing == "Plastic" ? "checked='true'" : "") class="flat-red"> PLASTIC</label>
                                </div>

                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">DELIVERY</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3">
                    <div class="row">
                        <div class="col-sm-2">


                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <label for="inputPassword3" class="col-sm-12 col-form-label">VEHICLE</label>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-sm-3 mobileSize">

                                    <label class="rb-fw600"><input type="radio" tabindex="62" name="Delivery" value="Customer" @(Model.Delivery == "Customer" ? "checked='true'" : "") class="flat-red"> CUSTOMER</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="62" name="Delivery" value="Own" @(Model.Delivery == "Own" ? "checked='true'" : "") class="flat-red"> OWN</label>
                                </div>
                                <div class="col-sm-3 mobileSize">
                                    <label class="rb-fw600"><input type="radio" tabindex="62" name="Delivery" value="Transport" @(Model.Delivery == "Transport" ? "checked='true'" : "") class="flat-red"> TRANSPORT</label>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">DRAWING</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="container-fluid bg-3" style="padding-top: 0px;">
                    <div class="row">

                        <div class="col-sm-2 mobileSize">

                            <label class="rb-fw600"><input type="radio" tabindex="63" @(Model.DrawingType != "Longer" && Model.DrawingType != "Set" ? "checked='true'" : "") checked name="Drawing-type" value="Corner"> CORNER</label>
                        </div>
                        <div class="col-sm-2 mobileSize">
                            <label class="rb-fw600"><input type="radio" tabindex="63" name="Drawing-type" @(Model.DrawingType == "Longer" ? "checked='true'" : "") value="Longer"> LONGER</label>

                        </div>
                        <div class="col-sm-2 mobileSize">
                            <label class="rb-fw600"><input type="radio" tabindex="63" name="Drawing-type" @(Model.DrawingType == "Set" ? "checked='true'" : "") value="Set"> SETS</label>

                        </div>


                    </div>


                    <div class="row corner set">
                        <div class="col-sm-12" style="margin-top:20px;">
                            <label id="lbllefttext" class="col-sm-12 col-form-label">LEFT</label>
                        </div>
                    </div>



                    <div class="row ">

                        <div class="col-sm-12 longerLeftchk">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 setOnly">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="lcs" @((Model.LeftNumberOfsits == 1 || Model.LeftNumberOfsits == 0) ? "checked='true'" : "") value="1"> 1</label>
                            </div>
                            <div class="col-sm-1 corner set">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="lcs" @((Model.LeftNumberOfsits == 2 || Model.LeftNumberOfsits == 0) ? "checked='true'" : "") value="2"> 2</label>
                            </div>
                            <div class="col-sm-1">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="lcs" @(Model.LeftNumberOfsits == 3 ? "checked='true'" : "") value="3"> 3</label>
                            </div>

                            <div class="col-sm-1">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="lcs" @(Model.LeftNumberOfsits == 4 ? "checked='true'" : "") value="4"> 4</label>
                            </div>

                            <div class="col-sm-1 Longer ">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="lcs" @(Model.LeftNumberOfsits == 5 ? "checked='true'" : "") value="5"> 5</label>
                            </div>
                            <div class="col-sm-1 corner">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="lcs" @((Model.LeftNumberOfsits == 6) ? "checked='true'" : "") value="6"> 6</label>
                            </div>
                        </div>

                    </div>

                    <div class="row corner set">

                        <div class="col-sm-12" style="margin-top:20px;">
                            <label id="lblrighttext" class="col-sm-12 col-form-label">RIGHT</label>
                        </div>
                    </div>

                    <div class="row ">

                        <div class="col-sm-12 LongerRightchk set">
                            <div class="col-sm-1"></div>

                            <div class="col-sm-1 setOnly">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="rcs" @((Model.RightNumberOfsits == 1 || Model.RightNumberOfsits == 0) ? "checked='true'" : "") value="1"> 1</label>
                            </div>
                            <div class="col-sm-1 corner set">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="rcs" @((Model.RightNumberOfsits == 2 || Model.RightNumberOfsits == 0) ? "checked='true'" : "") value="2"> 2</label>
                            </div>
                            <div class="col-sm-1">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="rcs" @(Model.RightNumberOfsits == 3 ? "checked='true'" : "") value="3"> 3</label>
                            </div>

                            <div class="col-sm-1">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="rcs" @(Model.RightNumberOfsits == 4 ? "checked='true'" : "") value="4"> 4</label>
                            </div>
                            <div class="col-sm-1 Longer ">
                                <label class="rb-fw600"><input type="radio" tabindex="64" name="rcs" @((Model.RightNumberOfsits == 5) ? "checked='true'" : "") value="5"> 5</label>
                            </div>
                            <div class="col-sm-1 corner">

                                <label class="rb-fw600"><input type="radio" tabindex="64" name="rcs" @((Model.RightNumberOfsits == 6) ? "checked='true'" : "") value="6"> 6</label>
                            </div>
                        </div>
                    </div>
                    <div class="row Longer">

                        <div class="col-sm-2" style="margin-top:20px;">
                            <label class="rb-fw600"><input type="radio" tabindex="64" name="LongerSide" @((Model.LongerSide == "left") ? "checked='true'" : "") value="left"> LEFT</label>
                        </div>

                        <div class="col-sm-2" style="margin-top:20px;">
                            <label class="rb-fw600"><input type="radio" tabindex="64" name="LongerSide" @((Model.LongerSide == "right") ? "checked='true'" : "") value="right"> RIGHT</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row">
                                <br />
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"><input type="number" tabindex="64" class="form-control" value="@setValue(Model.Drawingfullwidth)" name="dfullwidth" /></div>
                            </div>

                            <br />
                            <div class="form-group row text-center">
                                <div class="col-sm-1">

                                    <input type="number" tabindex="65" style="margin-top: 93px;" class="form-control" value="@setValue(Model.Drawingfullheight)" name="dfullheight" />
                                </div>
                                <div class="col-sm-10">
                                    <table class="tblsits">
                                        <tr>
                                            <td class="Longer" style="display:none; box-shadow:none !important; border-bottom: none !important; width:30px">
                                                @*<input style="margin-left:15px;width:45px;" tabindex="65" type="number" value="0" class="form-control" name="Longerh" />*@
                                            </td>
                                            <td class="setOnly" style="display:none; background:none; border:none; box-shadow:none !important; width:30px"></td>
                                            <td class="setOnly" style="display:none; box-shadow:none !important;  width:45px;background:#5baf26;"><input tabindex="65" type="number" value="@setValue(Model.DrawingHandle2)" class="form-control" name="handle2" /></td>
                                            <td class="corner"><input tabindex="65" type="number" class="form-control" value="@setValue(Model.DrawingRightSize0)" name="rw0" /></td>
                                            <td class="LongerLeft"><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingleftSize1)" name="lw1" /></td>
                                            <td class="lw l2 l3 l4 l6 "><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingleftSize2)" name="lw2" /></td>
                                            <td class="lw l3 l4 l6"><input tabindex="65" type="number" value="@setValue(Model.DrawingleftSize3)" class="form-control" name="lw3" /></td>
                                            <td class="lw l4 l6 "><input tabindex="65" type="number" value="@setValue(Model.DrawingleftSize4)" class="form-control" name="lw4" /></td>
                                            <td class="lw l5 l6"><input tabindex="65" type="number" value="@setValue(Model.DrawingleftSize5)" class="form-control" name="lw5" /></td>
                                            <td class="lw l6"><input tabindex="65" type="number" value="@setValue(Model.DrawingleftSize6)" class="form-control" name="lw6" /></td>
                                            <td class="longerLeftchk" style="width:45px; background:#5baf26;"><input tabindex="65" type="number" value="@setValue(Model.DrawingHandle1)" class="form-control" name="handle1" /></td>
                                        </tr>
                                        <tr class="setOnly" style="border:none;">
                                            <td style="border:none;background-color:none; height:30px;    background-color: white; height: 30px;box-shadow: none !important; border: none;" colspan="1"></td>
                                        </tr>

                                        <tr class="setOnly" style="border:none;">
                                            <td style="height:30px;background:#5baf26;" colspan="1"><input style="margin-left:15px;width:45px;" tabindex="65" type="number" value="@setValue(Model.DrawingHandle3)" class="form-control" name="handle3" /></td>
                                        </tr>
                                        <tr class="LongerRight">
                                            <td><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingRightSize1)" name="rw1" /></td>
                                            <td colspan="5" tabindex="65" style="display:none;"></td>


                                        </tr>
                                        <tr class="rw r2 r3 r4 r5 r6 corner set">
                                            <td><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingRightSize2)" name="rw2" /></td>
                                            <td colspan="5" style="display:none;"></td>


                                        </tr>

                                        <tr class="rw r3 r4 r5 r6 corner">
                                            <td><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingRightSize3)" name="rw3" /></td>
                                            <td colspan="5" style="display:none;"></td>


                                        </tr>
                                        <tr class="rw r4 r5 r6 corner">
                                            <td><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingRightSize4)" name="rw4" /></td>
                                            <td colspan="5" style="display:none;"></td>


                                        </tr>
                                        <tr class="rw r5 r6 corner">
                                            <td><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingRightSize5)" name="rw5" /></td>
                                            <td colspan="5" style="display:none;"></td>

                                        </tr>
                                        <tr class="rw r6 corner">
                                            <td><input type="number" tabindex="65" class="form-control" value="@setValue(Model.DrawingRightSize6)" name="rw6" /></td>
                                            <td colspan="5" style="display:none;"></td>


                                        </tr>
                                        <tr class="corner LongerRightchk set">
                                            <td style="height:30px;background:#5baf26;"><input style="width:45px;margin-left:15px;" tabindex="65" type="number" value="@setValue(Model.DrawingHandle4)" class="form-control" name="handle4" /></td>
                                            <td colspan="5" style="display:none;"></td>


                                        </tr>

                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="container-fluid bg-3" style="padding-top: 0px;">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="inputPassword3" class="col-sm-12 col-form-label">DELIVERY CHARGES EXTRA</label>
                            </div>
                            <div class="col-sm-4">
                                <label for="inputPassword3" class="col-sm-12 col-form-label">CUSTOMER SIGN</label>
                            </div>
                            <div class="col-sm-4">
                                <label for="inputPassword3" class="col-sm-12 col-form-label">INCREDIBLE SIGN</label>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            @if (ViewBag.Mode != "view")
            {
                <div class="box">

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-4">
                                <div id="message" style="display:none;" class=" alert alert-success">
                                    <strong>Success!</strong> Order place successfully.
                                </div>

                            </div>
                            <div class="col-sm-2">
                                <button type="button" tabindex="66" id="btnSaveOrder" class="btn btn-primary btn-block btn-flat">SAVE</button>
                               
                            </div>
                            <div class="col-sm-2">
                                <button type="button" tabindex="66" id="btnSaveOrderPrint" class="btn btn-primary btn-block btn-flat">SAVE & PRINT</button>
                            </div>
                            </div>

                    </div>
                </div>
            }
        </div>
    </form>
    <div id="orderDetails" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 90%; height:500px;">
            <div class="modal-header" style="background-color:#fff;">
                <div style="float:right; ">
                    <button ng-click="prinRecipt()" type="button" class="btn btn-primary btn-block btn-flat" style="width:100px;margin-left:10px;margin-right:10px;float: left;">Print</button>
                    <button id="btnClose" ng-click="closeRecipt()" type="button" class="btn btn-danger">Close</button>
                </div>
            </div>
            <!-- Modal content-->
            <div class="modal-content">
            
                <div class="modal-body">
                    <div>
                        <div id="print"> </div>
                    </div>


                </div>
            
            </div>
        </div>
    </div>

</body>
@if (ViewBag.Mode != null && ViewBag.Mode == "view")
{
    <script>
        $(document).ready(function () {
            $("#orderDetail :input").prop("disabled", true);
        });
    </script>
}
<script>
    $(document).ready(function () {
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    });
</script>

</html>
