﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .started {
        background-color: #d7fae5;
    }

    input[type="checkbox"]:checked {
        font-weight: bold;
    }

    input[type="checkbox"]:disabled {
        color: #ccc;
    }

    .modal-content {
        background: #ecf0f5;
    }

    .width30 {
        width: 30%;
    }

    .modal-body {
        padding: 0px;
    }

    .width70 {
        width: 70%;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 210px;
  float:left;
      margin-top: 12px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #bfbebe;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #5cb85c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 6.5px;
        left: 6.5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
    }
</style>
<div class="containerr" ng-controller="InvoiceController" ng-init="init()">
    <div class="col-md-12">

        <label class="rb-fw600"><input type="radio" tabindex="61" name="Fitting" ng-model="InvoiceOrder" value="Pending"   name="radio" ng-click="getOrderList('INVOICED')" class="flat-red"> Pending Invoice </label>
        <label class="rb-fw600"><input type="radio" tabindex="61" name="Fitting" ng-model="InvoiceOrder" value="Closed" name="radio" ng-click="getOrderList('INVOICED')" class="flat-red"> Closed Invoice </label>
        @*<label class="container"> Pending Invoice <input type="radio" ng-model="InvoiceOrder" value="Pending"   name="radio" ng-click="getOrderList('INVOICED')"> <span class="checkmark"></span>  </label>
        <label class="container"> Closed Invoice <input type="radio"  ng-model="InvoiceOrder" value="Closed"  name="radio" ng-click="getOrderListClosed('INVOICED')"> <span class="checkmark"></span>  </label>*@
        
    </div>
    <form class="form-inline">
        <div class="form-group" style="margin-bottom: 5px;">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <button ng-hide="InvoiceOrder == 'Closed'" class="btn btn-success" style="float:right;margin-bottom: 5px;margin-right: 5px;" ng-click="generateInvoiceModel()"><i class="fa fa-clock-o" aria-hidden="true"> </i> Close Invoice</button>

    </form>
    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue;font-size: 12px;">
                        <td></td>
                        <th ng-click="sort('InvoiceNumber')">Invoice Number <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('JobNo')">Job Number <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('CustomerName')">CustomerName <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Discription')">Status <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('InvoiceAmount')">Invoice Amount <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('InvoiceOrderAmount')">Invoice Order Amount <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('InvoiceDate')">Invoice Date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('OrderDateStr')">Order Date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('DeliveryDateStr')">Delivery Date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('PaidDateStr')" ng-if="InvoiceOrder == 'Closed'">Paid Date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                    </tr>
                </thead>
                <tbody ng-if="InvoiceOrder == 'Pending'">
                    <tr dir-paginate="order in GetAllIvoiceList |orderBy:sortKey:reverse |filter:search |itemsPerPage:10" ng-if="GetAllIvoiceList.length > 0">
                        <td>
                            <input id="chkCustomer_{{order.Id}}" type="checkbox" ng-model="order.Selected" ng-change="CheckBox_Checked(order.Id)" />
                        </td>
                        <td><a style="cursor: pointer;" ng-click="InvoiceView(order.InvoiceId)">{{order.InvoiceNumber}}</a></td>
                        <td><a style="cursor: pointer;" ng-click="viewOrderDetails(order.Id)">{{order.JobNo}}</a></td>
                        <td>{{order.CustomerName}}</td>
                        <td>{{order.Discription}}</td>
                        <td>₹ {{order.InvoiceAmount.toFixed(2)}}</td>
                        <td>₹ {{order.InvoiceOrderAmount.toFixed(2)}}</td>
                        <td>{{order.InvoiceDate}}</td>
                        <td>{{order.OrderDateStr}}</td>
                        <td>{{order.DeliveryDateStr}}</td>
                    </tr>
                    <tr ng-if="GetAllIvoiceList.length == 0">
                        <td colspan="10">No data available</td>
                    </tr>
                </tbody>
                <tbody ng-if="InvoiceOrder == 'Closed'">
                    <tr dir-paginate="order in GetAllClosedIvoiceList |orderBy:sortKey:reverse |filter:search |itemsPerPage:10" ng-if="GetAllClosedIvoiceList.length > 0">
                        <td>
                            <input id="chkCustomer_{{order.Id}}" type="checkbox" ng-model="order.Selected" ng-change="CheckBox_Checked(order.Id)" />
                        </td>
                        <td><a style="cursor: pointer;" ng-click="InvoiceView(order.InvoiceId)">{{order.InvoiceNumber}}</a></td>
                        <td><a style="cursor: pointer;" ng-click="viewOrderDetails(order.Id)">{{order.JobNo}}</a></td>
                        <td>{{order.CustomerName}}</td>
                        <td>{{order.Discription}}</td>
                        <td>₹ {{order.InvoiceAmount.toFixed(2)}}</td>
                        <td>₹ {{order.InvoiceOrderAmount.toFixed(2)}}</td>
                        <td>{{order.InvoiceDate}}</td>
                        <td>{{order.OrderDateStr}}</td>
                        <td>{{order.DeliveryDateStr}}</td>
                        <td>{{order.PaidDateStr}}</td>
                    </tr>
                    <tr ng-if="GetAllClosedIvoiceList.length == 0">
                        <td colspan="10">No data available</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="2"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOrderLoading"></i>
        </div>
    </form>
    @* ------------ Generate Invoice--------------- *@
    <div id="mdlGenerateInvoice" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 80%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Invoice-<b>{{orderDetail.InvoiceNumber}}</b></h4>

                </div>
                <div class="modal-body">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">CUSTOMER DETAILS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid bg-3">
                                <div class="row">


                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Customer:</label>
                                            <div class="col-sm-7">
                                                <span>{{orderDetail.CustomerName}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Delivery date:</label>
                                            <div class="col-sm-7">
                                                <span>{{orderDetail.DeliveryDateStr}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Address:</label>
                                            <div class="col-sm-8">

                                                <span>{{orderDetail.Address}}</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">INVOICE DETAILS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid bg-3">
                                <div class="row">


                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Invoice:</label>
                                            <div class="col-sm-7">
                                                <b> <span>{{orderDetail.InvoiceNumber}}</span></b>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Invoice date:</label>
                                            <div class="col-sm-7">
                                                <span>{{orderDetail.InvoiceDate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Status:</label>
                                            <div class="col-sm-6">


                                                <select [(ngModel)]="WorkCenterDetail.InvoiceStatusId" ng-model="WorkCenterDetail.InvoiceStatusId" class="form-control">
                                                    <option value="0">Select Status</option>
                                                    <option ng-repeat="status in GetAllIvoiceStatusList" value="{{status.Id}}">{{status.Discription}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Amount:</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" name="CustAmount" id="txtCustAmount" [(ngModel)]="WorkCenterDetail.Amount" ng-model="WorkCenterDetail.Amount" value="{{WorkCenterDetail.Amount}}" step="0.00" placeholder="Amount">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">ORDER DETAILS</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="container-fluid bg-3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="divcontent">
                                                <table id="myTableInvoice" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                                                    <thead>
                                                        <tr style="background-color:#3c8dbc; color:aliceblue">

                                                            <th ng-click="sort('job_no')">Job Number <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th>Net Order Price</th>
                                                            <th>SGST</th>
                                                            <th>SGST Amount</th>
                                                            <th>CGST</th>
                                                            <th>CGST Amount</th>
                                                            <th>Transport Price</th>
                                                            <th>Discount</th>
                                                            <th>Extra</th>
                                                            <th>Total Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="order in InvoiceOrderDetail |orderBy:sortKey:reverse |filter:search |itemsPerPage:10" ng-if="InvoiceOrderDetail.length > 0">

                                                            <td><a style="cursor: pointer;" ng-click="viewOrderDetails(order.id)">{{order.job_no}}</a></td>
                                                            <td>{{order.NetOrderPrice| number : 2}}</td>

                                                            <td>{{order.SGST| number : 2}}%</td>
                                                            <td>{{((order.NetOrderPrice*order.SGST)/100)| number : 2}}</td>
                                                            <td>{{order.CGST| number : 2}}%</td>
                                                            <td>{{((order.NetOrderPrice*order.CGST)/100)| number : 2}}</td>
                                                            <td>{{order.TransportPrice| number : 2}}</td>
                                                            <td>{{order.Discount| number : 2}}</td>
                                                            <td>{{order.Extra| number : 2}}</td>
                                                            <td>{{order.TotalOrderPrice| number : 2}}</td>


                                                        </tr>
                                                        <tr ng-if="InvoiceOrderDetail.length == 0">
                                                            <td colspan="7">No data available</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="2"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                                <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOrderLoading"></i>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-success" ng-click="closeInvoice()">Close Invoice</button>



                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ------------ Invoice PreView--------------- *@
    <div id="InvoicePreView" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 90%; height:500px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Invoice Preview</h4>

                </div>

                <div class="modal-body">
                    <div id="print"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="PrintInvoice()" class="btn btn-success"> Print</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* ------------ Invoice PreView--------------- *@

    @* ------------ View Details--------------- *@
    <div id="orderDetails" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 90%; height:500px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe id="ifrm" src="#" style="height:500px;width:100%;"></iframe>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=0.1.0"></script>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Angular/Controller/InvoiceController.js?v=1.2.0"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
<script src="~/Content/js/plugins/icheck/icheck.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
 
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>

}


