﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/js/plugins/datatables.net/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script src="~/Content/js/plugins/jquery/dist/jquery.js"></script>
    <script src="~/Content/js/plugins/datatables.net/js/jquery.dataTables.js"></script>
    <style>
        thead {
            
    background: #367fa9;
    color: #ffffffff;
        }
        

.btn-info {
    background-color: #367fa9;
    border-color: #ffffffff;
}
    </style>
    
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">RUNNING ORDERS</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblorders" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tblorders").DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 5,

            "ajax": {
                "url": "/order/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                  { "data": "customer_name", "title": "Customer name", "name": "customer_name", "autoWidth": true },
                  { "data": "address", "title": "Address", "name": "address", "autoWidth": true },
                  { "data": "mobile", "title": "Mobile", "name": "mobile", "autoWidth": true },

                  { "data": "job_no", "title": "Job no", "name": "job_no", "autoWidth": true },
                  { "data": "order_date", "title": "Order date", "name": "order_date", "autoWidth": true },

                  {
                      "render": function (data, type, full, meta)
                      { return '<a class="btn btn-info" href="/order/order/' + full.id + '">Edit</a>'; }
                  }
                 

            ]

        });
    });
</script>
</html>
