﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .disabled {
  cursor: not-allowed;
}
    .started {
        background-color: #d7fae5;
    }

    input[type="checkbox"]:checked {
        font-weight: bold;
    }

    input[type="checkbox"]:disabled {
        color: #ccc;
    }

    .modal-content {
        background: #ecf0f5;
    }

    .width30 {
        width: 30%;
    }

    .modal-body {
        padding: 0px;
    }

    .width70 {
        width: 70%;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    .EditIco {
        font-size: 18px;
        padding-right: 5px;
    }

    .DeleteIco {
        font-size: 18px;
    }

    .EditIco:hover {
        color: #f0ad4e;
        text-decoration: none !important;
    }

    .DeleteIco:hover {
        color: #dd4b39;
        text-decoration: none !important;
    }
</style>
<div class="containerr" ng-controller="WorkCenterController" ng-init="init()">
    <span style="float:right; margin: -30px 25px 0px 0px;">
        @*<button class="previous" ng-class="(type == 'PENDING')?'disabled':''">&laquo; Previous</button> |
        <button class="next" ng-class="(type == 'INVOICE')?'disabled':''"> Next &raquo;</button>*@
        <a ng-click="gotoPrevious(type)" class="" style="cursor:pointer" ng-class="(type == 'PENDING')?'disabled':''" disabled="type == 'PENDING'"><span>&laquo; Previous</span></a> |
        <a ng-click="gotoNext(type)" class="" style="cursor:pointer" ng-class="(type == 'INVOICE')?'disabled':''" disabled="type == 'INVOICE'"><span>Next &raquo;</span></a>
    </span>
    <form class="form-inline">
        <div class="form-group" style="margin-bottom: 5px;">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>


        <button class="btn btn-success" ng-if="IsPendingOrder" style="float:right;margin-bottom: 5px;margin-right: 5px;" ng-click="startProduction()"><i class="fa fa-clock-o" aria-hidden="true"> </i> Start Production</button>
        <button class="btn btn-success" ng-if="IsWorkCenter" style="float:right;margin-bottom: 5px;margin-right: 5px;    background-color: #e66262;border-color: #e66262;" ng-click="finishWorkCenterModel()" data-toggle="modal" data-placement="top"><i class="fa fa-check" aria-hidden="true"> </i> Finish</button>

        <button class="btn btn-success" ng-if="IsWorkCenter" style="float:right;margin-bottom: 5px;margin-right: 5px;" ng-click="startWorkCenterModel()"><i class="fa fa-clock-o" aria-hidden="true"> </i> Start</button>
        <button class="btn btn-success" ng-if="IsInvoice" style="float:right;margin-bottom: 5px;margin-right: 5px;" ng-click="generateInvoiceModel()"><i class="fa fa-clock-o" aria-hidden="true"> </i> Generate Invoice</button>
        <br />
    </form>

    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue;font-size: 12px;">
                        <td></td>
                        <th ng-click="sort('JobNo')">Job Number <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('CustomerName')">CustomerName <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('FileName')">File Name <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Mobile')">Mobile <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('OrderDateStr')">OrderDate <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>
                        <th ng-click="sort('DeliveryDateStr')">Delivery Date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}" style="font-size: 7px;"></span></th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="order in GetAllOrderList |orderBy:sortKey:reverse |filter:search |itemsPerPage:10" ng-if="GetAllOrderList.length > 0" ng-class="{'started' : order.IsStart}">
                        <td>
                            <input id="chkCustomer_{{order.Id}}" type="checkbox" ng-model="order.Selected" ng-change="CheckBox_Checked(order.Id)" />
                        </td>

                        <td><a style="cursor: pointer;" ng-click="viewOrderDetails(order.Id)">{{order.JobNo}}</a></td>
                        <td>{{order.CustomerName}}</td>
                        <td>{{order.FileName}}</td>
                        <td>{{order.Mobile}}</td>
                        <td>{{order.OrderDateStr}}</td>
                        <td>{{order.DeliveryDateStr}}</td>
                        <td>
                            <a ng- href="/order/order/{{order.Id}}" class="fa fa-pencil-square-o ico EditIco" data-toggle="modal" data-placement="top" title="Edit"></a>
                            <a href="" class="fa fa-trash-o ico DeleteIco" data-toggle="modal" data-placement="top" title="Delete" ng-click="DeleteOrder(order.Id)"></a>
                        </td>
                    </tr>
                    <tr ng-if="GetAllOrderList.length == 0">
                        <td colspan="7">No data available</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="2"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOrderLoading"></i>
        </div>

    </form>

    @* ------------ Start/finish work center--------------- *@
    <div id="startworkCenter" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 80%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 ng-if="forstartJOB" class="modal-title">Start</h4>
                    <h4 ng-if="!forstartJOB" class="modal-title">Finish</h4>
                </div>
                <div class="modal-body">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">JOB DETAILS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid bg-3">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Order#</label>
                                            <div class="col-sm-6">
                                                <a style="cursor: pointer;" ng-click="viewOrderDetails(orderDetail.Id)">
                                                    <span>{{orderDetail.JobNo}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Product#</label>
                                            <div class="col-sm-6">
                                                <a style="cursor: pointer;">
                                                    <span>{{orderDetail.product}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Customer:</label>
                                            <div class="col-sm-9">
                                                <span>{{orderDetail.CustomerName}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Delivery date:</label>
                                            <div class="col-sm-7">
                                                <span>{{orderDetail.DeliveryDateStr}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">WORK BY</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid bg-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label for="workby" class="col-sm-3 col-form-label">Work by:</label>
                                            <div class="col-sm-9">

                                                <select ng-model="WorkCenterDetail.WorkById" class="form-control">
                                                    <option value="0">Select Operator</option>
                                                    <option ng-repeat="operator in GetAllOperationList" ng-if='!operator.is_supervisor' value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label for="Supervisedby" class="col-sm-3 col-form-label">Supervised by:</label>
                                            <div class="col-sm-9">

                                                <select [(ngModel)]="WorkCenterDetail.SupervisedId" ng-model="WorkCenterDetail.SupervisedId" class="form-control">
                                                    <option value="0">Select Operator</option>
                                                    <option ng-repeat="operator in GetAllOperationList" ng-if='operator.is_supervisor' value="{{operator.RID}}">{{operator.OperatorName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Remarks:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Remarks" id="txtRemark" ng-model="WorkCenterDetail.Remarks" placeholder="">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-if="type == 'DELIVERY'">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Vehicle number:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="VehicleNo" id="VehicleNo" ng-model="WorkCenterDetail.VehicleNo" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" ng-if="forstartJOB" class="btn btn-success" ng-click="startJOB(orderDetail.id)">Start</button>
                    <button type="button" ng-if="!forstartJOB" class="btn btn-success" ng-click="finishJOB(orderDetail.id)">Finish</button>


                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @* ------------ Generate Invoice--------------- *@
    <div id="mdlGenerateInvoice" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 80%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Generate Invoice</h4>

                </div>
                <div class="modal-body">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">CUSTOMER DETAILS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid bg-3">
                                <div class="row">


                                    <div class="col-sm-4">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Customer:</label>
                                            <div class="col-sm-7">
                                                <span>{{orderDetail.CustomerName}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Delivery date:</label>
                                            <div class="col-sm-7">
                                                <span>{{orderDetail.DeliveryDateStr}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Address:</label>
                                            <div class="col-sm-8">

                                                <span>{{orderDetail.Address}}</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">ORDER DETAILS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid bg-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="divcontent">
                                            <table id="myTableInvoice" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                                                <thead>
                                                    <tr style="background-color:#3c8dbc; color:aliceblue">

                                                        <th ng-click="sort('job_no')">Job Number <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                        <th>Net Order Price</th>
                                                        <th>SGST</th>
                                                        <th>SGST Amount</th>
                                                        <th>CGST</th>
                                                        <th>CGST Amount</th>
                                                        <th>Transport Price</th>
                                                        <th>Discount</th>
                                                        <th>Extra</th>
                                                        <th>Total Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="order in InvoiceOrderDetail |orderBy:sortKey:reverse |filter:search |itemsPerPage:10" ng-if="InvoiceOrderDetail.length > 0">

                                                        <td><a style="cursor: pointer;" ng-click="viewOrderDetails(order.id)">{{order.job_no}}</a></td>
                                                        <td>{{order.NetOrderPrice| number : 2}}</td>

                                                        <td>{{order.SGST| number : 2}}%</td>
                                                        <td>{{((order.NetOrderPrice*order.SGST)/100)| number : 2}}</td>
                                                        <td>{{order.CGST| number : 2}}%</td>
                                                        <td>{{((order.NetOrderPrice*order.CGST)/100)| number : 2}}</td>
                                                        <td>{{order.TransportPrice| number : 2}}</td>
                                                        <td>{{order.Discount| number : 2}}</td>
                                                        <td>{{order.Extra| number : 2}}</td>
                                                        <td>{{order.TotalOrderPrice| number : 2}}</td>


                                                    </tr>
                                                    <tr ng-if="InvoiceOrderDetail.length == 0">
                                                        <td colspan="7">No data available</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls max-size="2"
                                                                     direction-links="true"
                                                                     boundary-links="true">
                                            </dir-pagination-controls>
                                            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOrderLoading"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-success" ng-click="InvoicePreView(WorkCenterDetail.OrderIds)">Generate</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @* ------------ Invoice PreView--------------- *@
    <div id="InvoicePreView" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 90%; height:500px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Invoice Preview</h4>

                </div>

                <div class="modal-body">
                    <iframe id="ifrmInvoicePreView" src="#" style="height:500px;width:100%;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="GenerateInvoice(orderIdForInvoice)" class="btn btn-success">Save and Print</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* ------------ View Details--------------- *@
    <div id="orderDetails" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 90%; height:500px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <iframe id="ifrm" src="#" style="height:500px;width:100%;"></iframe>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display:none;">
        <div id="print"> </div>
    </div>
</div>

@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=0.1.0"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Angular/Controller/WorkCenterController.js?v=1.6.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
}

