﻿@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70%;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
</style>
<div class="containerr" ng-controller="ProductController" ng-init="init()">

    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-success" style="float:right;margin-bottom: 5px;" ng-click="AddProduct(true)" data-toggle="modal" data-placement="top"><i class="fa fa-plus" aria-hidden="true"> </i> Add</button><br />
    </form>

    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue;font-size: 12px;">
                        <th ng-click="sort('Name')">Product Name <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Code')">Product Code <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('type')">Product type <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('type')">Price Per <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('type')">Range <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>

                        <th ng-click="sort('type')">Without fabric <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>

                         <th ng-click="sort('type')">Total <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>

                         <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak dir-paginate="p in GetAllProductList |orderBy:sortKey:reverse |filter:search |itemsPerPage:15" ng-if="GetAllProductList.length > 0">
                        <td>{{p.Name}}</td>
                        <td>{{p.Code}}</td>
                        <td>{{p.type}}</td>
                        <td>{{p.Price_per}}</td>
                        <td>{{p.Range}}</td>
                        <td><span ng-if="p.Without_fabric">Yes</span><span ng-if="!p.Without_fabric">No</span></td>
                        
                        <td>{{p.Net_total}}</td>

                        <td>
                            <a href="" class="fa fa-pencil-square-o ico" data-toggle="modal" data-placement="top" title="Edit" ng-click="getProductById(p.Id)"></a>
                            <a href="" class="fa fa-trash-o ico" data-toggle="modal" data-placement="top" title="Delete" ng-click="DeleteProduct(p.Id)"></a>
                        </td>
                    </tr>
                    <tr ng-if="GetAllProductList.length == 0">
                        <td colspan="4">No data available</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isLoading"></i>
        </div>

    </form>

    @* ------------ Add Operator Modal--------------- *@
    <div id="addProuctModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:887px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 ng-if="!IsUpdate" class="modal-title">Add Product</h4>
                    <h4 ng-if="IsUpdate" class="modal-title">Edit Product</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-responsive ">
                        <tr class="borderless">
                          
                            <td  class="borderless">
                                <span>Prouct Name </span>
                                <input type="text" class="form-control" style="width:250px" ng-model="productDetail.Name" />
                            </td>
                          
                            <td class="borderless">
                                <label>
                                    Without fabric
                                    <input type="checkbox" name="chkWithoutfabric"  ng-model="productDetail.Without_fabric" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td colspan="2" class="borderless">
                                <span>Piece per </span>
                                <select id="Particula4FabricTypeId" tabindex="25" ng-model="productDetail.Price_per"  class="form-control">
                               
                                    <option  value="FEET">FEET</option>
                                    <option value="SHEET">SHEET</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="borderless">

                            <td class="borderless">
                                <span>Product Code </span>
                                <input type="text" class="form-control" style="width:250px" ng-model="productDetail.Code" />
                            </td>
                    
                            <td class="borderless">
                                <span>Range:</span>
                                <select tabindex="25" name="Particula4FabricTypeId"  ng-model="productDetail.Range"  class="form-control">

                                    <option value="ECONOMIC">ECONOMIC</option>
                                    <option value="REGULAR">REGULAR</option>
                                    <option value="PREMIUM">PREMIUM</option>
                                </select>
                            </td>
                            <td colspan="2" class="borderless">
                                <span>Type </span>
                                <select   ng-model="productDetail.type" class="form-control">

                                    <option value="3+2">3+2</option>
                                    <option value="CORNER">CORNER</option>
                                    <option value="LAUNGER">LAUNGER</option>
                                </select>
                            </td>
                        </tr>
                        </table>

                        <table class="table table-responsive ">
                            <tr class="borderless">

                                <td class="borderless">
                                    <span>Particulars</span>

                                </td>
                            
                                <td class="borderless">
                                    <span>Meter(s)</span>

                                </td>
                                <td class="borderless">
                                    <span>Rate </span>

                                </td>
                                <td class="borderless">
                                    <span>Total </span>

                                </td>
                            </tr>
                            <tr class="borderless">

                                <td class="borderless" style="width:300px;">
                                    <input type="text" class="form-control" style="width:250px" placeholder="BASIC" ng-model="productDetail.Pert1" />

                                </td>
            
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert1_mtr"  ng-change="productDetail.Pert1_total=productDetail.Pert1_mtr*productDetail.Pert1_rate" />

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert1_rate"  ng-change="productDetail.Pert1_total=productDetail.Pert1_mtr*productDetail.Pert1_rate" />

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert1_total" />

                                </td>
                            </tr>
                            <tr class="borderless">

                                <td class="borderless" style="width:250px;">
                                    <input type="text" class="form-control" style="width:250px" placeholder="Perticular 1" ng-model="productDetail.Pert2"  />

                                </td>
                        
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert2_mtr" ng-change="productDetail.Pert2_total=productDetail.Pert2_mtr*productDetail.Pert2_rate" />

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert2_rate" ng-change="productDetail.Pert2_total=productDetail.Pert2_mtr*productDetail.Pert2_rate" />

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert2_total" />

                                </td>
                            </tr>
                            <tr class="borderless">

                                <td class="borderless" style="width:250px;">
                                    <input type="text" class="form-control" style="width:250px" placeholder="Perticular 2" ng-model="productDetail.Pert3" />

                                </td>
                          
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert3_mtr"  ng-change="productDetail.Pert3_total=productDetail.Pert3_mtr*productDetail.Pert3_rate" />

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert3_rate"  ng-change="productDetail.Pert3_total=productDetail.Pert3_mtr*productDetail.Pert3_rate"/>

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert3_total" />

                                </td>
                            </tr>
                            <tr class="borderless">

                                <td class="borderless" style="width:250px;">
                                    <input type="text" class="form-control" style="width:250px" placeholder="Perticular 3" ng-model="productDetail.Pert4" />

                                </td>
                             
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert4_mtr" ng-change="productDetail.Pert4_total=productDetail.Pert4_mtr*productDetail.Pert4_rate"/>

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert4_rate" ng-change="productDetail.Pert4_total=productDetail.Pert4_mtr*productDetail.Pert4_rate"/>

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert4_total" />

                                </td>
                            </tr>
                            <tr class="borderless">

                                <td class="borderless" style="width:250px;">
                                    <input type="text" class="form-control" style="width:250px" placeholder="Perticular 4" ng-model="productDetail.Pert5" />

                                </td>
                  
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert5_mtr" ng-change="productDetail.Pert5_total=productDetail.Pert5_mtr*productDetail.Pert5_rate"  />

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert5_rate" ng-change="productDetail.Pert5_total=productDetail.Pert5_mtr*productDetail.Pert5_rate"/>

                                </td>
                                <td class="borderless">
                                    <input type="text" class="form-control" style="width:100px" placeholder="0" ng-model="productDetail.Pert5_total" />

                                </td>
                            </tr>

                            <tr class="borderless">

                                <td class="borderless" style="width:250px;">
                       

                                </td>
                          
                                <td class="borderless">
                            

                                </td>
                                @*<td class="borderless">
                                    <span>Total</span>

                                </td>
                                <td class="borderless">
                                    <span>{{productDetail.Pert1_total+productDetail.Pert2_total+productDetail.Pert3_total+productDetail.Pert4_total+productDetail.Pert5_total}}</span>

                                </td>*@
                            </tr>
                   

                        </table>
                </div>
                <div class="modal-footer">
                  
                    <button   ng-if="IsUpdate" type="button" class="btn btn-success" ng-click="UpdateProduct()">Save</button>
                    <button   ng-if="!IsUpdate" type="button" class="btn btn-success" ng-click="AddProduct(false)">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @* ------------ Edit Operator Modal--------------- *@
       
</div>

@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
    <script src="~/Scripts/moment.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
<script src="~/Scripts/Angular/Controller/ProductController.js?v=0.10"></script>
}
