﻿
@{
    ViewBag.Title = "Customer / Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70% !important;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: none !important;
    }
    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 0 !important;
    }
    .EditIco {
        font-size: 18px;
        padding-right: 5px;
    }

    .DeleteIco {
        font-size: 18px;
    }

    .EditIco:hover {
        color: #f0ad4e;
        text-decoration: none !important;
    }

    .DeleteIco:hover {
        color: #dd4b39;
        text-decoration: none !important;
    }
</style>
<div class="containerr" ng-controller="SupplierController" ng-init="initFun()">
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-success" style="float:right;margin-bottom: 5px;" ng-click="addNewSupplier(true)" data-toggle="modal" data-placement="top"><i class="fa fa-plus" aria-hidden="true"> </i> Add</button><br />
    </form>
    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue;font-size: 12px;">
                        <th ng-click="sort('SupplierName')">Name <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Email')">Email <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Type')">Type <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('CreatedDate')">Added Date <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('IsActive')">Active <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak dir-paginate="supplier in GetAllSupplierList|orderBy:sortKey:reverse |filter:search |itemsPerPage:15" ng-if="GetAllSupplierList.length > 0">
                        <td>{{supplier.SupplierName}}</td>
                        <td>{{supplier.Email}}</td>
                        <td>{{supplier.Type}}</td>
                        <td>{{supplier.DateStr}}</td>
                        <td ng-if="supplier.IsActive == true">Yes</td>
                        <td ng-if="supplier.IsActive != true">No</td>
                        <td>
                            <a href="" class="fa fa-pencil-square-o ico EditIco" data-toggle="modal" data-placement="top" title="Edit" ng-click="supplierEditModal(supplier.RID)"></a>
                            <a href="" class="fa fa-trash-o ico DeleteIco" data-toggle="modal" data-placement="top" title="Delete" ng-click="removeSupplier(supplier.RID)"></a>
                        </td>
                    </tr>
                    <tr ng-if="GetAllSupplierList.length == 0">
                        <td colspan="6">No data available</td>
                    </tr>
                </tbody>

            </table>
            <dir-pagination-controls max-size="15"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOperatorLoading"></i>
        </div>
    </form>
    @* ------------ Add Supplier Modal--------------- *@
    <div id="addSupplierModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog width70">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Customer / Supplier</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td colspan="2">
                                <Label ID="lnlValidationMsg"></Label>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                               Name
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.SupplierName"/>
                            </td>
                            <td class="section1">
                                <span>Customer</span> <input type="radio" ng-model="supplierDetail.Type" name="Customer" id="Customer" value="Customer"/>
                            </td>
                            <td >
                               <span>Supplier</span> <input  type="radio" ng-model="supplierDetail.Type" name="Supplier" id="Supplier" value="Supplier"/> 
                            </td>
                            
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Email
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.Email"/>
                            </td>
                            <td class="section1">
                                Address
                            </td>
                            <td>
                                <textarea class="input-sm form-control txtwidth" ng-model="supplierDetail.Address"> </textarea>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Mobile
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" maxlength="10" ng-model="supplierDetail.MobileNo"/>
                            </td>
                            <td class="section1">
                                City
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.City"/>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                GST number
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.GSTNo"/>
                            </td>
                            <td class="section1">
                                State
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.State"/>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Website
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.Website"/>
                            </td>
                            <td class="section1">
                                Country
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.Country"/>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Payment term
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.PaymentTerm"/>
                            </td>
                            <td class="section1">
                                Active
                            </td>
                            <td>
                                <input class="" type="checkbox" ng-model="supplierDetail.IsActive" ng-true-value="true" ng-false-value="false"/>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Contact person
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.ContactPerson"/>
                            </td>
                            <td class="section1"></td>
                            <td></td>
                        </tr>
                        <tr class="trspacing">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @*<input type="button" value="Submit" id="btnSubmit" class="btn btn-primary" />
                                <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary cancle" />*@
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                              
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addNewSupplier(false)">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @* ------------ Edit Supplier Modal--------------- *@
    <div id="editSupplierModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog width70">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Customer / Supplier</h4>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <tr>
                            <td colspan="2">
                                <Label ID="lnlValidationMsg"></Label>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Name
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.SupplierName" />
                            </td>
                            <td class="section1">
                                <span>Customer</span> <input type="radio" ng-model="supplierDetail.Type" name="Type" id="Customer" value="Customer" />
                            </td>
                            <td>
                                <span>Supplier</span> <input type="radio" ng-model="supplierDetail.Type" name="Type" id="Supplier" value="Supplier" />
                            </td>
                           
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Email
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.Email" />
                            </td>
                            <td class="section1">
                                Address
                            </td>
                            <td>
                                <textarea class="input-sm form-control txtwidth" ng-model="supplierDetail.Address"> </textarea>
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Mobile
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.MobileNo" />
                            </td>
                            <td class="section1">
                                City
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.City" />
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                GST number
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.GSTNo" />
                            </td>
                            <td class="section1">
                                State
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.State" />
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Website
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.Website" />
                            </td>
                            <td class="section1">
                                Country
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.Country" />
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Payment term
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.PaymentTerm" />
                            </td>
                            <td class="section1">
                                Active
                            </td>
                            <td>
                                <input class="" type="checkbox" ng-model="supplierDetail.IsActive" ng-true-value="true" ng-false-value="false" />
                            </td>
                        </tr>
                        <tr class="trspacing">
                            <td class="section1">
                                Contact person
                            </td>
                            <td>
                                <input class="input-sm form-control txtwidth" type="text" ng-model="supplierDetail.ContactPerson" />
                            </td>
                            <td class="section1"></td>
                            <td></td>
                        </tr>
                        <tr class="trspacing">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @*<input type="button" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary cancle" />*@
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="updateSupplier(supplierDetail)">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>
@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Angular/Controller/SupplierController.js?v=2.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
}

