﻿
@{
    ViewBag.Title = "Fabric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70%;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    .EditIco {
        font-size: 18px;
        padding-right: 5px;
    }

    .DeleteIco {
        font-size: 18px;
    }

    .EditIco:hover {
        color: #f0ad4e;
        text-decoration: none !important;
    }

    .DeleteIco:hover {
        color: #dd4b39;
        text-decoration: none !important;
    }
</style>
<div class="containerr" ng-controller="FabricController" ng-init="init()">

    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-success" style="float:right;margin-bottom: 5px;" ng-click="AddFabric(true)" data-toggle="modal" data-placement="top"><i class="fa fa-plus" aria-hidden="true"> </i> Add</button><br />
    </form>

    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue; font-size: 12px;">
                        <th ng-click="sort('FacricName')">Fabric Name <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('FabricGroup')">Fabric Group <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('FabricPrice')">Fabric price (per mtr)<span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak dir-paginate="f in GetAllFabricList |orderBy:sortKey:reverse |filter:search |itemsPerPage:15" ng-if="GetAllFabricList.length > 0">
                        <td>{{f.FacricName}}</td>
                        <td>{{f.FabricGroup}}</td>
                        <td>{{f.FabricPrice}}</td>
                        <td>
                            <a href="" class="fa fa-pencil-square-o ico EditIco" data-toggle="modal" data-placement="top" title="Edit" ng-click="fabricEditModal(f.RID)"></a>
                            <a href="" class="fa fa-trash-o ico DeleteIco" data-toggle="modal" data-placement="top" title="Delete" ng-click="DeleteFabric(f.RID)"></a>
                        </td>
                    </tr>
                    <tr ng-if="GetAllFabricList.length == 0">
                        <td colspan="4">No data available</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="15"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isLoading"></i>
        </div>

    </form>

    @* ------------ Add Operator Modal--------------- *@
    <div id="addFabricModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Fabric</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-responsive ">
                        <tr class="borderless">
                            <th class="borderless"> Fabric Name : </th>
                            <td class="borderless">
                                <input type="text" class="form-control" style="width:250px" ng-model="fabricDetail.FacricName" />
                            </td>
                        </tr>
                        <tr class="borderless">
                            <th class="borderless"> Group Name : </th>
                            <td class="borderless">
                                <select class="form-control" ng-model="fabricDetail.FabricGroupId" style="width:250px">
                                    <option value="">Select Fabric Group</option>
                                    <option ng-repeat="FG in GetAllFabricGroupList | orderBy : 'FabricGroup'" value="{{FG.GroupId}}" ng-init="fabricGroupName = FabricGroup">{{FG.FabricGroup}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="borderless">
                            <th class="borderless"> Fabric Price : </th>
                            <td class="borderless">
                                <input type="text" class="form-control" style="width:170px;float:left;" ng-model="fabricDetail.FabricPrice" /><span style="margin-left: 15px;">Per meter</span>
                            </td>
                            @*<td><span>Per meter</span></td>*@
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="AddFabric(false)">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @* ------------ Edit Operator Modal--------------- *@
    <div id="editFabricModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Fabric</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-responsive ">
                        <tr class="borderless">
                            <th class="borderless"> Fabric Name : </th>
                            <td class="borderless">
                                <input type="text" class="form-control" style="width:250px" ng-model="fabricDetail.FacricName" />
                            </td>
                        </tr>
                        <tr class="borderless">
                            <th class="borderless"> Group Name : </th>
                            <td class="borderless">
                                <select class="form-control" ng-model="fabricDetail.FabricGroupId" style="width:250px">
                                    <option value="">Select Fabric Group</option>
                                    <option ng-repeat="FG in GetAllFabricGroupList | orderBy : 'FabricGroup'" value="{{FG.GroupId}}" ng-init="fabricGroupName = FabricGroup">{{FG.FabricGroup}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="borderless">
                            <th class="borderless"> Fabric Price : </th>
                            <td class="borderless">
                                <input type="text" class="form-control" style="width:170px;float:left;" ng-model="fabricDetail.FabricPrice" /><span style="margin-left: 15px;">Per meter</span>
                            </td>
                            @*<td><span>Per meter</span></td>*@
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="UpdateFabric(fabricDetail)">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Angular/Controller/FabricController.js?v=26.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
}

