﻿
@{
    ViewBag.Title = "Operator Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>*@
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70%;
    }

    .borderless td, .borderless th {
        border: none !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    .EditIco {
        font-size: 18px;
        padding-right: 5px;
    }

    .DeleteIco {
        font-size: 18px;
    }

    .EditIco:hover {
        color: #f0ad4e;
        text-decoration: none !important;
    }

    .DeleteIco:hover {
        color: #dd4b39;
        text-decoration: none !important;
    }
</style>
<div class="containerr" ng-controller="OperatorController" ng-init="init()">

    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-success" style="float:right;margin-bottom: 5px;" ng-click="addNewOperator(true)" data-toggle="modal" data-placement="top"><i class="fa fa-plus" aria-hidden="true"> </i> Add</button><br />
    </form>

    <form id="form">
        <div class="divcontent">
            <table id="myTable" class="table table-hover table-responsive table-bordered text-center" style="background-color:white;">
                <thead>
                    <tr style="background-color:#3c8dbc; color:aliceblue;font-size: 12px;">
                        <th ng-click="sort('OperatorName')">Operator Name <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Carpentery')">Carpentery <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Linning')">Linning <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Packing')">Packing <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Delivery')">Delivery <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Invoice')">Invoice <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Fitting')">Fitting <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>
                        <th ng-click="sort('Polish')">Polish <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"style="font-size: 7px;"></span></th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak dir-paginate="operator in GetAllOperationList |orderBy:sortKey:reverse |filter:search |itemsPerPage:15" ng-if="GetAllOperationList.length > 0">
                        <td>{{operator.OperatorName}}</td>
                        <td ng-if="operator.Carpentery == true">Yes</td>
                        <td ng-if="operator.Carpentery != true">No</td>
                        <td ng-if="operator.Linning == true">Yes</td>
                        <td ng-if="operator.Linning != true">No</td>
                        <td ng-if="operator.Packing == true">Yes</td>
                        <td ng-if="operator.Packing != true">No</td>
                        <td ng-if="operator.Delivery == true">Yes</td>
                        <td ng-if="operator.Delivery != true">No</td>
                        <td ng-if="operator.Invoice == true">Yes</td>
                        <td ng-if="operator.Invoice != true">No</td>
                        <td ng-if="operator.Fitting == true">Yes</td>
                        <td ng-if="operator.Fitting != true">No</td>
                        <td ng-if="operator.Polish == true">Yes</td>
                        <td ng-if="operator.Polish != true">No</td>
                        <td>
                            <a href="" class="fa fa-pencil-square-o ico EditIco" data-toggle="modal" data-placement="top" title="Edit" ng-click="operatorEditModal(operator.RID)"></a>
                            <a href="" class="fa fa-trash-o ico DeleteIco" data-toggle="modal" data-placement="top" title="Delete" ng-click="removeOperator(operator.RID)"></a>
                        </td>
                    </tr>
                    <tr ng-if="GetAllOperationList.length == 0">
                        <td colspan="7">No data available</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="15"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
            <i class="fa fa-spinner fa-spin" style="font-size: 40px;color:green;margin-left: 50%;" ng-if="isOperatorLoading"></i>
        </div>

    </form>

    @* ------------ Add Operator Modal--------------- *@
    <div id="addOperatorModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Operator Master</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-responsive ">
                        <tr>
                            <th class="borderless">Operator Name : </th>
                            <td class="borderless">
                                <input type="text" class="form-control" style="width:250px" ng-model="operatorDetail.OperatorName" />
                            </td>
                        </tr>
                    </table>
                    <table class="table table-responsive ">
                        <tr>
                            <th class="borderless" style="width: 113px;">Supervisor : </th>
                            <td class="borderless">
                            <td><input type="checkbox" id="chkSupervisor" ng-model="operatorDetail.is_supervisor" /></td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-hover borderless">
                        <tr>
                            <th style="width:93px">Allow</th>
                            <th style="width:93px">Department</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkCarpentery" ng-model="operatorDetail.Carpentery" /></td>
                            <td><label>Carpentry</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkLinning" ng-model="operatorDetail.Linning" /></td>
                            <td><label>Linning</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkPacking" ng-model="operatorDetail.Packing" /></td>
                            <td><label>Packing</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkDelivery" ng-model="operatorDetail.Delivery" /></td>
                            <td><label>Delivery</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkInvoice" ng-model="operatorDetail.Invoice" /></td>
                            <td><label>Invoice</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkFitting" ng-model="operatorDetail.Fitting" /></td>
                            <td><label>Fitting</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkFitting" ng-model="operatorDetail.Polish" /></td>
                            <td><label>Polish</label></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addNewOperator(false)">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @* ------------ Edit Operator Modal--------------- *@
    <div id="editOperatorModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Operator Master</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-responsive ">
                        <tr>
                            <th class="borderless">Operator Name : </th>
                            <td class="borderless">
                                <input type="text" class="form-control" style="width:250px" ng-model="operatorDetail.OperatorName" />
                            </td>
                        </tr>
                    </table>

                    <table class="table table-responsive ">
                        <tr>
                            <th class="borderless" style="width: 113px;">Supervisor : </th>
                            <td class="borderless">
                            <td><input type="checkbox" id="chkSupervisor" ng-model="operatorDetail.is_supervisor" /></td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-hover borderless">
                        <tr>
                            <th style="width:93px">Allow</th>
                            <th style="width:93px">Department</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkCarpentery" ng-model="operatorDetail.Carpentery" /></td>
                            <td><label>Carpentry</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkLinning" ng-model="operatorDetail.Linning" /></td>
                            <td><label>Linning</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkPacking" ng-model="operatorDetail.Packing" /></td>
                            <td><label>Packing</label></td>
                            @*<td><input type="number" ng-disabled="!(operatorDetail.chkPacking)" ng-model="operatorDetail.Packing" /></td>*@
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkDelivery" ng-model="operatorDetail.Delivery" /></td>
                            <td><label>Delivery</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkInvoice" ng-model="operatorDetail.Invoice" /></td>
                            <td><label>Invoice</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkFitting" ng-model="operatorDetail.Fitting" /></td>
                            <td><label>Fitting</label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="chkFitting" ng-model="operatorDetail.Polish" /></td>
                            <td><label>Polish</label></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="updateOperator(operatorDetail)">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

@section ViewSpecificJavascript{
    <script src="~/Scripts/angular.min.js?v=2.0.0"></script>
    <script src="~/Scripts/angular-route.min.js?v=2.0.0"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Angular/Controller/OperatorController.js?v=27.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js?v=2.0.0"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js?v=2.0.0"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js?v=2.0.0"></script>
}