﻿@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        Incredible
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <style>
        .navigation {
            width: 300px;
        }

        /* reset our lists to remove bullet points and padding */
        .mainmenu, .submenu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            /* make ALL links (main and submenu) have padding and background color */
            .mainmenu a {
                display: block;
                /*background-color: #CCC;*/
                text-decoration: none;
                padding: 10px;
                color: #000;
            }

                /* add hover behaviour */
                .mainmenu a:hover {
                    background-color: #C5C5C5;
                }

            .mainmenu li:hover .submenu {
                display: block;
                max-height: 340px;
            }

            .submenu a {
                background-color: #292929eb !important;
            }

                .submenu a:hover {
                    background-color: #666;
                }

        .submenu {
            overflow: hidden;
            max-height: 0;
            -webkit-transition: all 0.5s ease-out;
            padding-left: 10PX;
        }

            .submenu span {
                padding-left: 2PX;
            }
    </style>

</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="FCTool">
    <div class="wrapper" id="page">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header" style="width:70% !important">
                <h1 id="headerTital">
                    @ViewBag.Title

                </h1>
            </section>

            <section class="content">

                @RenderBody()
            </section>
        </div>

        @Html.Partial("_ControlSidebar")
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @*<script type="text/javascript">
        debugger;
        setInterval("$('#page').load('Home/Index')",2000);
    </script>*@
    @*@Scripts.Render("~/Bundles/js")*@

    @RenderSection("ViewSpecificJavascript", required: false)
    <script language="javascript" type="text/javascript">
            var sessionTimeoutWarning = 715;
        var sessionTimeout = 720;

            var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
            setTimeout('SessionWarning()', sTimeout);

            function SessionWarning() {
                var message = "Your session will expire in another " +
                    (parseInt(sessionTimeout) - parseInt(sessionTimeoutWarning)) +
                    " minute! Please Save the data before the session expires";
                swal("Timeout warning",message,"warning");
            }
        </script>


</body>
</html>