﻿@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            @*<div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>*@
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu mainmenu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>DASHBOARD</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "order")">
                <a href="@Url.Action("Index", "order")"><i class="fa fa-laptop"></i> <span>PLACE ORDER</span></a>
            </li>
            <li>
                <a href="@Url.Action("orders", "order",new { type = "PENDING" })"><i class="fa fa-minus-square-o"></i> <span>PENDING ORDERS</span></a>
            </li>
            <li>
                <a href="@Url.Action("orders", "order",new { type = "ALL" })"><i class="fa fa-refresh"></i> <span>RUNNING ORDERS</span></a>
            </li>

            <li>
                <a href="">
                    <i class="fa fa-tasks"></i><span>WORKCENTERS</span>
                    <span class="caret"></span>
                </a>
                <ul class="submenu">

                    <li>
                        <a href="@Url.Action("orders", "order",new { type = "CARPENTARY" })"><i class="fa fa-tree"></i> <span>CARPENTARY</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("orders", "order",new { type = "LINNING" })"><i class="fa fa-server"></i> <span>LINNING</span></a>
                    </li>
                    <li>

                        <a href="@Url.Action("orders", "order",new { type = "POLISH" })"><i class="fa fa-sign-language"></i> <span>POLISH</span></a>

                    </li>
                    <li>
                        <a href="@Url.Action("orders", "order",new { type = "FITTING" })"><i class="fa fa-compress"></i> <span>FITTING</span></a>
                    </li>

                    <li>
                        <a href="@Url.Action("orders", "order",new { type = "PACKING" })"><i class="fa fa-gift"></i> <span>PACKING</span></a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="@Url.Action("orders", "order",new { type = "DELIVERY" })"><i class="fa fa-truck"></i> <span>DELIVERY</span></a>
            </li>
            <li>
                <a href="@Url.Action("orders", "order",new { type = "INVOICE" })"><i class="fa fa-file-text-o"></i> <span>INVOICE</span></a>
            </li>
            <li>
                <a href="@Url.Action("invoice", "order")"><i class="fa fa-files-o"></i> <span>PENDING/CLOSED INVOICES</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "CustomerComplaint")">
                <a href="@Url.Action("Index", "CustomerComplaint")"><i class="fa fa-ticket"> </i> <span>CUSTOMER COMPLAINTS</span></a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-cogs"></i><span>MASTERS</span>
                    <span class="caret"></span>
                </a>

                <ul class="submenu">
                    <li class="@Url.IsLinkActive("Index", "Product")">
                        <a href="@Url.Action("Index", "Product")"><i class="fa fa-clipboard"> </i> <span>PRODUCT MASTER</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Supplier")">
                        <a href="@Url.Action("Index", "Supplier")"><i class="fa fa-users"> </i> <span>CUSTOMERS / SUPPLIERS</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Operator")">
                        <a href="@Url.Action("Index", "Operator")"><i class="fa fa-user-circle-o"> </i> <span>   OPERATOR MASTER</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "WorkMaster")">
                        <a href="@Url.Action("Index", "WorkMaster")"><i class="fa fa-cubes"> </i> <span>   WORK MASTER</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "OperatorWorkMaster")">
                        <a href="@Url.Action("Index", "OperatorWorkMaster")"><i class="fa fa-money"> </i> <span>  OPERATOR WORK MASTER</span></a>
                    </li>
                    
                    <li class="@Url.IsLinkActive("Index", "FabricGroup")">
                        <a href="@Url.Action("Index", "FabricGroup")"><i class="fa fa-th-large"> </i> <span>FABRIC GROUP MASTER</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("Index", "Fabric")">
                        <a href="@Url.Action("Index", "Fabric")"><i class="fa fa-th"> </i> <span>FABRIC MASTER</span></a>
                    </li>
                 </ul>
            </li>

        </ul>
        @* END Menu *@
    </section>
</aside>