﻿.sidebar {
    padding-bottom: 10px;
    display: none;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    display: none;
}
.main-sidebar {
 
    display: none;
}
.content-wrapper, .main-footer {
 margin-left: 0px;
}
